[2015-09-25 10:54] jacobbubu opened #1 "Why do you put 'utp' the shims?"
[utp](https://github.com/mafintosh/utp) is not in the code modules of node.js, right?

[2015-09-25 10:55] mvayngrib commented on #1
@jacobbubu to replace net (though it will not actually be able to talk to a nodejs net module on the other end)

[2015-10-24 20:11] #1 closed

[2015-10-29 21:59] pjcabrera opened #2 "It's not clear how to use this"
I'm trying to use this package, to use mocha for unit testing in React Native, but I'm not having any luck.

After running `npm install -g rn-nodeify`, I tried running `rn-nodeify`, with no parameters, on the main project folder before running `npm install mocha`. I also tried `rn-nodeify node_modules/mocha`. I added `require('mocha')` in my index.ios.js and it fails with the same error as if I ha

[2015-11-26 09:55] marcoreat commented on #2
+1

[2016-01-08 06:45] siuying commented on #2
There is an example of how this work now: https://github.com/mvayngrib/adexample

[2016-01-08 06:50] siuying opened #3 "Update package.json "react-native" field instead of "browser""
As react-native has added support of "react-native" field to package.json, maybe this package can modify that field instead of browser?

I'm trying to build an app have share code based between web app, electron and react-native app, limit the hacks on react-native seems proper.

[2016-01-08 08:05] pjcabrera commented on #2
Great. Will try it out this weekend, as soon as I get a chance.

[2016-01-08 14:42] mvayngrib commented on #3
@siuying yea, I was the one added the "react-native" field support in react-native, but i see that they only released it in 0.17. Would you like to take a stab at a PR? For example, perform react-native depedency version detection, and choose the field accordingly?

[2016-01-08 17:12] siuying commented on #3
I just made a tiny change and it work for my purpose: https://github.com/siuying/rn-nodeify/commit/a3385e2ca3b193faf7fdeedf7b9cc032807a912b .

After some testing I figure react-native is not the best solution for my problem, so I didn't really use it. But apps like popcorn time for react-native is definitely something I want to build later :grin:

[2016-01-08 17:24] mvayngrib commented on #3
popcorn time in react-native is a good idea :) I've gotten [webtorrent](https://github.com/feross/webtorrent) working in react-native, so it's definitely possible. I'm curious, why did react-native turn out to be no the best solution for your problem?

[2016-01-08 17:38] siuying commented on #3
I have written an app use apple tv to drive a remote peerflix and work well, if it can run peerflix itself then it would save the time to open the companion mac app...

I was writing a hybird app which contains both web and native element, run on desktop (electron) and mobile. I'd also need to run pouchdb/couchdb for p2p sync. It'd be great if I can use one code base, reuse the business logic acro

[2016-01-08 18:41] mvayngrib commented on #3
@siuying sounds cool! If you end up open sourcing it, send me a link. I know what you mean about fighting the tooling

[2016-01-08 19:00] pjcabrera commented on #2
The example does not work. It fails during build of the Xcode project.

[2016-01-08 19:13] pjcabrera commented on #2
Hmm, the failure seems to be in the version of RN the example project uses, not with the example project per se. Something wrong with how the packager resolves the path to node_modules dependencies. Maybe it's something on my end.

[2016-01-08 21:00] pjcabrera commented on #2
The failure building the example seems to be caused by this: https://github.com/facebook/react-native/issues/4968

Tried the workaround documented there, still didn't work. rn-nodeify continues to be a waste of time, apparently.

[2016-01-08 22:07] mvayngrib commented on #2
@pjcabrera hm, i don't run into that issue. Unfortunately I don't have any time to dedicate to usability at this point, slammed with projects.

[2016-01-20 09:57] pjcabrera commented on #2
I was finally able to run https://github.com/mvayngrib/adexample by modifying the package.json to use react-native@0.18.0 released a couple of days ago. I had to mock out console.time() and console.timeEnd(), or it would crash, as these methods are undefined in react-native.

Now I can finally try to use rn-nodeify for my original purpose: writing unit tests for my RN app using mocha & chai.

[2016-01-20 12:53] mvayngrib commented on #2
@pjcabrera oops, my bad. I must have been running it with the debugger open, which has console.time/console.timeEnd available. I wonder why 0.18.0 was necessary though. Anyway, glad to hear you got it working

[2016-02-19 01:23] vespakoen opened #5 "Does stream work yet?"
Hey, thanks for this package!

I am trying to make my library work in react-native (using react-native's packager)
I have been shimming stuff myself, and then found this package that does it for me, great!

The error I get is:
`"Requiring unknown module "stream". If you are sure the module is there, try restarting the packager."`

This is my dependency graph
mypackage -> levelup -> level-iterator-

[2016-02-19 01:34] vespakoen commented on #5
Weird, it now stopped appearing in this module after I rebooted my phone, but when I require another of my packages, I do get the error again (maybe some caching on react-native's packager side is at play here?)

Will investige further...

[2016-02-19 01:55] vespakoen commented on #5
Ah, not so weird, I stopped depending on the package that breaks it (levelup).

When I add that back in it is complaining about the missing stream package again, trying to shim using the "react-native" field

[2016-02-19 02:02] mvayngrib commented on #5
@vespakoen it's kind of annoying, but don't forget to run `npm run postinstall` after EVERY npm i --save new-package

[2016-02-19 02:06] vespakoen commented on #5
My react native project doesn't have a postinstall script so I get `npm ERR! missing script: postinstall`

I got it working now without the levelup package, but will investigate it further.

[2016-02-19 02:12] mvayngrib commented on #5
sorry, i wasn't clear, you want the rn-nodeify line as your postinstall script. See https://github.com/mvayngrib/adexample/blob/master/package.json

[2016-02-19 02:14] vespakoen commented on #5
Ah I see, cool.

Will try with that in place.

[2016-02-19 02:18] vespakoen commented on #5
Still doesn't seem to work, does rn-nodeify "hack" nested node_modules as well?

[2016-02-19 02:51] vespakoen commented on #5
Figured out it:

This works: https://github.com/vespakoen/reproducernnodeifystreambug/blob/2059ef2b46a37f2b14c38fbcde97a504e0e87184/index.android.js#L15

This doesn't: https://github.com/vespakoen/reproducernnodeifystreambug/blob/f3ac182c1f5f57cb18ff001d5133b04fe9fcee2f/index.android.js#L16

So basically, rn-nodeify doesn't "hack" recursively?

[2016-02-19 02:53] vespakoen commented on #5
1) Perhaps a better solution would be to add browserify's shimming to react-native's packager?
2) Do you think that's doable, and if so, are there any reasons not to?
3) Have you got browserify working in a react-native project? (I cannot seem to get the right combination of presets / settings for babel)

[2016-02-19 03:19] mvayngrib commented on #5
there's no doubt there's a better solution :)
i tried browserify a few months ago and got it working but it was unbearably slow.
rn-nodeify definitely hacks recursively. I tried your example. I had to add "process" to the --install parameter, and then the problem was that JSONStream/index.js starts with "#!", which the packager refused to parse. You can see why --hack is needed... If you get rid o

[2016-02-19 03:23] vespakoen commented on #5
Yeh I just figured that out as well (see edit in comment above).

I have `npm link`ed my module, at the moment I am checking if that is causing the problem, will keep you posted

[2016-02-19 03:48] vespakoen commented on #5
My package being symlinked didn't seem to be the cause either.
I added the failing case to the bug reproduction repo: https://github.com/vespakoen/reproducernnodeifystreambug/blob/e3c60ddd91519769906d8500d6ca57ff40d2552d/index.android.js#L15

Care to take a look? (ignore the merkle / crypto stuff, that was a test)

[2016-02-19 15:46] mvayngrib commented on #5
the error i get is that schema-mapper-store is missing a levelup dep that it uses: `import levelup from 'levelup'`

[2016-02-19 15:48] mvayngrib commented on #5
schema-mapper-leveldb also appears to use either level-js or leveldown, neither of which will work

[2016-02-19 15:53] vespakoen commented on #5
The schema-mapper-store has a `react-native` field in the package.json, requiring `local-store-rn.js`, which uses `asyncstorage-down`.

A couple of other scripts that get required from there depend on `through` though, which is causing troubles.

I added a breakpoint in `require.js`'s `function define(id, factory)` and don't see the stream coming by

Will keep you updated

[2016-02-19 15:55] mvayngrib commented on #5
yea, i meant in local-store-rn:
`import levelup from 'levelup'`

levelup is not declared as a dep of schema-mapper-store

[2016-02-19 15:57] vespakoen commented on #5
Allright, thanks for catching that! Updating schema-mapper-store and schema-mapper-leveldb as we speak

[2016-02-19 16:08] vespakoen commented on #5
Just updated the packages, also the reproduction package (added babel-helpers).
Into the next rabbit hole:

[code]
Why is it looking at .babelrc =| ? this react-native packager is getting weirder every minute

[2016-02-19 16:20] vespakoen commented on #5
While reinstalling, I got this interesting list of hacks:

[code]

Which doesn't seem to include the through / schema-mapper packages, perhaps it doesn't work because the module is not loaded from a tag?

I get a ENOSPC (while I have plenty of space on my computer) so I am going for a reboot, brb

[2016-02-19 16:37] vespakoen commented on #5
I got around the .babelrc error by removing them (`rm node_modules/schema-mapper-*/.babelrc`)
Then I got some ENOSPC errors again, increasing `fs.inotify.max_user_watches` in `/etc/sysctl.conf` seemed to get around that.

Back in the debugger now...

[2016-02-19 17:10] vespakoen commented on #5
Oeh yeah! Progress!

I am now stumbling upon an issue deep in LevelUP, so it got past the stream stuff!!
I am guessing it being missing in the dependencies was the underlying issue (along with a bunch of other magic as can be read in previous comments).

Will let you know when everything works

[2016-02-19 17:29] vespakoen commented on #5
![levelup 47](https://cloud.githubusercontent.com/assets/876117/13183300/877ebcca-d736-11e5-8deb-b1b458004c09.png)
![levelup 87](https://cloud.githubusercontent.com/assets/876117/13183301/87964d22-d736-11e5-9a70-7701e089fbf0.png)

Isn't that super weird?

[2016-02-19 17:52] vespakoen commented on #5
# Conclusions

- `npm link` is a no-go, I think rn-nodeify isn't able to detect those (they are not in the package.json after all) so no hacks can be applied.
- Make sure the dependency doesn't have a .babelrc, or remove it after installing a module that has it.
- Make sure to have the postinstall script, and run it after every install (it doesn't seem to get triggered when installing a something

[2016-02-19 17:57] mvayngrib commented on #5
yep, those sound pretty accurate. It's definitely not easy yet :)
re: hacks - in case you misinterpreted that as hacking package.jsons, it's rather module-specific hacks, like the one that would make JSONStream work. package.jsons get hacked for all deps down the tree (except for npm linked ones as you said)

[2016-02-19 18:54] vespakoen commented on #5
Since stream is not working and that being what the issue was about, I am closing this one

[2016-02-19 18:54] #5 closed

[2016-02-23 14:36] vespakoen opened #7 "Take "browserify" field into consideration"
https://github.com/mvayngrib/rn-nodeify/blob/bac7668c00666cb9704b8fd871633d938487d6f8/cmd.js#L211

Should look something like:

[code]

Some packages are still relying on the browserify field, "shoe" for example:

https://github.com/substack/shoe/blob/5b6edae990ac5919dd78d966a4b99b05b69f6554/package.json#L6

If rn-nodeify would consider the `"browserify"` field, the correct mappings will end up in

[2016-02-23 21:12] vespakoen commented on #3
This one is fixed by https://github.com/mvayngrib/rn-nodeify/pull/8 and can be closed

[2016-02-23 21:12] vespakoen commented on #7
Fixed!

[2016-02-23 21:12] #7 closed

[2016-02-24 03:04] siuying commented on #3
@mvayngrib I've made an experiment to use [JXcore to run peerflix](https://medium.com/@siuying/making-of-peerflix-for-ios-or-how-to-embed-any-nodejs-app-in-ios-app-36074f18ee3d)

[2016-02-24 20:54] mvayngrib commented on #3
@siuying very cool! I actually read your article before your comment :) If you're interested in comparing JXCore with React Native, you can try the same experiment with rn-nodeify. I know for a fact that webtorrent worked in React Native with rn-nodeify a few months ago.

[2016-02-25 08:12] howanghk opened #11 "fs.readFile callback not called with react-native 0.20.0"
First, thanks for making most node core modules work on react-native!

I found that fs.readFile() didn't work well with react-native + rn-nodeify. I cloned the example project, and tries to run fs code on it with no luck.

Shell script to reproduce the issue:

[code]

From the output I can tell mkdir and writeFile worked, however the readFile callback is not called at all. Also the app hangs with

[2016-02-26 22:55] mvayngrib commented on #11
@howanghk confirmed both bugs (in 0.18 and 0.20). This isn't really a rn-nodeify issue I think. Someone needs to dig around in level-filesystem (which is underneath react-native-level-fs) and see what happens there (and possibly in asyncstorage-down). I won't have time for this in the next few days, do you want to give it a try?

[2016-03-01 04:33] howanghk commented on #11
@mvayngrib I tried to trace it down in Chrome dev tools, but I am not sure how the level-filesystem works, and I have no idea how to fix it.
With react-native 0.20.0 it seems that the `ReadStream` in the `level-blobs` module never ends. That is, the while loop on line [279](https://github.com/mafintosh/level-blobs/blob/master/index.js#L279)-281 in level-blobs/index.js didn't stop after reading.

[2016-03-01 12:18] mvayngrib commented on #11
@howanghk thanks for looking into it. The 0.20.0 error sounds like level-filesystem isn't getting the version of readable-stream that it wants (i've encountered this exact problem before). This is related to an open [issue](https://github.com/facebook/react-native/pull/5742) on react-native.

[2016-04-08 20:47] rulatir opened #12 "Please bump -crypto and -randombytes deps"
react-native-crypto and react-native-randombytes are both at 2.x.x now (adding Android support in the latter) but rn-nodeify downgrades them to 1.x.x. Please update the dependencies!

[2016-04-08 21:33] mvayngrib commented on #12
done, released as 5.0.0

[2016-04-08 21:33] #12 closed

[2016-04-09 00:01] rulatir commented on #12
Thanks a lot for the update and for this tool, saves hours of struggle.

[2016-04-09 00:05] mvayngrib commented on #12
@rulatir you're welcome, and hopefully someone will create better support for global require replace and this library won't be needed. See https://github.com/facebook/react-native/issues/6253

[2016-04-09 16:26] Secretmapper opened #13 "Can't resolve net?"
Hello! First of all again, awesome work with rn-nodeify... hope an official react-native solution gets implemented soon.

Anyway, when I try rn-nodeify, I get a redbox errror say `net` can't be resolved, and `@tradle/utp` was unable to be found. I already tried `rm -rf`-ing my node_modules folder and clearing my cache but I always get the same error.

[2016-04-09 16:34] mvayngrib commented on #13
@Secretmapper utp is not really what you want, as it uses udp underneath. @aprock created https://github.com/PeelTechnologies/react-native-tcp which is what you need. Feel free to submit a PR to substitute it here instead of utp.

[2016-04-10 14:15] #2 closed

[2016-04-10 14:17] Secretmapper opened #15 "Undefined Buffer"
For some weird reason I get a `can't find variable/undefined variable Buffer` error.

It seems like Buffer is used by most modules as a global (without a require). In the `shim.js` file, I do see that buffer is being defined in the global scope:

`if (typeof Buffer === 'undefined') global.Buffer = require('buffer').Buffer`

But I still get the error as if Buffer isn't being defined and I'm stumped

[2016-04-10 14:22] mvayngrib commented on #15
@Secretmapper this may be a silly question, but are you requiring "shim.js" before you use Buffer?

[2016-04-10 14:53] Secretmapper commented on #15
Color me silly, I didn't know you had to require it (just checked the example repo).

I have since then reset everything, but it seems that I can only access Buffer in my files - dependencies like readable-stream still fails with an undefined Buffer error.

[2016-04-10 15:08] mvayngrib commented on #15
@Secretmapper yea, make sure requiring "shim.js" is the first thing you do. It will set the global Buffer variable. Then it should just work...if not, push your example and send me a link

[2016-04-10 21:42] #13 closed

[2016-04-11 21:18] AndreyNikiforov opened #16 "undefined is not an object (evaluating 'RNRandomBytes.seed')"
- npm install rn-nodeify -g
- npm install braintree --save
- rn-nodeify --install "http,events,url,stream,buffer,https,crypto,vm" --hack
- clone `react-native` node in package.json as `braintree`

Getting `undefined is not an object (evaluating 'RNRandomBytes.seed')` error in the `var braintree = require("braintree");`

Seems that it is failing somewhere in crypto. Any clues what the error may be

[2016-04-11 21:27] mvayngrib commented on #16
you probably need do link the native modules, e.g. `rnpm link react-native-randombytes`

[2016-04-12 03:58] AndreyNikiforov commented on #16
Yes, using `rnpm link react-native-randombytes` solved the issue

[2016-04-12 03:58] #16 closed

[2016-04-30 18:55] #15 closed

[2016-05-16 19:17] Giszmo opened #17 "rn-nodeify doesn't work for android anymore(?)"
[This issue](https://github.com/facebook/react-native/issues/7009) was probably filed in the wrong place. The essence is:

[2016-05-16 19:22] mvayngrib commented on #17
@Giszmo thanks for reporting this. Unfortunately I haven't tested rn-nodeify with android. Does the same issue arise with iOS?

[2016-05-16 19:50] Giszmo commented on #17
I have no iOS here and suppose it doesn't but maybe @andrewtoth could comment on that.

[2016-05-16 19:53] mvayngrib commented on #17
@Giszmo sorry about that. I use it with iOS on a daily basis in a large project, so that one i should be able to help with. Let me know if you find any more details to the android issue.

[2016-05-16 19:58] Giszmo commented on #17
As you can tell from the linked issue, we are pretty desperate at this point, so hearing from you that you see a good chance to get that going is a huge relieve! :dancers:

In the other issue you see how to reproduce the issue with docker. Very straight forward and reproducible.

[2016-05-18 00:53] Giszmo commented on #17
@mvayngrib your last comment had me too excited. Didn't see what you thought you would be able to help me with.

So you created this tool for your project that is iOS only and don't intend to maintain it working for Android? Fair enough and Andrew got the issue down to a single line in `shim.js` with which he opened a new issue [here](https://github.com/facebook/react-native/issues/7607). As `rn-n

[2016-05-18 01:51] mvayngrib commented on #17
@Giszmo haha yea, i thought you might have misunderstood me.

Indeed, I haven't gotten to android yet with this library. Most of the work in maintaining this library is in creating shims that work for both iOS and Android. I made a bunch for iOS: [react-native-crypto](https://github.com/mvayngrib/react-native-crypto) with [react-native-randombytes](https://github.com/mvayngrib/react-native-randomb

[2016-06-03 13:13] mvayngrib commented on #17
turned out not really to be a rn-nodeify issue, but added workaround https://github.com/mvayngrib/rn-nodeify/commit/e1fc1b406456d5d8ca0d6c76f592624ef6083b27

[2016-06-03 13:13] #17 closed

[2016-06-03 13:14] mvayngrib commented on #3
currently both fields are being updated, closing

[2016-06-03 13:14] #3 closed

[2016-07-04 23:59] gabceb opened #18 "Changes on RN 0.27 broke requires"
See https://github.com/StanScates/react-native-jwt/issues/3#issuecomment-230364810 for how I discovered this issue

It looks like https://github.com/facebook/react-native/commit/ee5a1deb0b00e46170e3f5e4f51c484c30cafc95 changed the way dependencies are loaded which is causing the hack not to work anymore. I'm investigating to see if there is anything for us to do and submit a PR but I am not very f

[2016-07-05 01:21] mvayngrib commented on #18
@gabceb I ran into this as well. I don't have a good solution, but if you're not using many different versions of readable-stream in your deptree, you can use the hack here: https://github.com/mvayngrib/rn-nodeify/commit/9917779ed9a461c6c43ba410b9f0bf6372c6f31a i'm afraid it's pretty ugly - setting a global StreamModule var on the first pass and using it on the second

[2016-07-05 01:52] gabceb commented on #18
Thanks for the prompt response @mvayngrib. I was a bit baffled about it not replacing the correct thing and i just noticed its because those last changes are not on npm. Are you planning on pushing those anytime soon?

Ill give it a try tonight pointing to this repo and report back

[2016-07-05 02:09] mvayngrib commented on #18
@gabceb a bit reluctant to publish, but you can always install from github. Thing is, most of the other "hacks" are not hacks so much as compatibility fixes, whereas this WILL break things if there are multiple versions of readable-stream in the dep tree.

[2016-07-18 14:14] nirzari18 commented on #16
rnpm link react-native-randombytes did not solve my problem. Any other suggestions to resolve the issue?

[2016-07-18 14:35] mvayngrib commented on #16
@nirzari18 can you check in xcode that it's listed in the linked libraries?

[2016-07-18 15:02] nirzari18 commented on #16
@mvayngrib Pardon my ignorance, is it package.json you are talking about? (If yes, then I do see it linked there). I am creating a base react-native application where I am trying to create http request and that's when I encountered this issue.
P.S. I am using Nuclide for my recat-native application.

[2016-07-18 15:44] mvayngrib commented on #16
@nirzari18 hm, i haven't tried Nuclide yet. No, I was talking about the project.pbxproj that Xcode creates. It's not really manually editable like package.json. I'm not sure what could be the problem. Do other native modules work for you? (e.g. react-native-touchid, react-native-device-info, react-native-keychain)

[2016-07-18 16:51] nirzari18 commented on #16
I am using Android, therefore I am not yet familiar with what is inside ios. I haven't tried the other modules but I used [fetch](https://facebook.github.io/react-native/docs/network.html) for http request and that worked. Thanks for your help.

[2016-07-18 18:37] mvayngrib commented on #16
@nirzari18 take a look at https://github.com/mvayngrib/randombytestest - idk how up to date it is, but i think it worked ok. Because randombytes relies on sjcl for synchronous random generation support, you'll need [rn-nodeify](https://github.com/mvayngrib/rn-nodeify) to enable a node-like environment in react-native (crypto, buffer, etc support). Unfortunately I won't be able to provide much supp

[2016-07-22 16:08] DVassilev opened #20 "Cloudscraper with RN (support shim for tls module)"
I tried using this with latest RN to get https://github.com/codemanki/cloudscraper working but still get 'unable to resolve module tls' - any idea on how to get it working @mvayngrib ?

Thanks,
Daniel

[2016-07-22 19:00] mvayngrib commented on #20
@DVassilev push your project i'll take a look

[2016-07-22 19:02] DVassilev commented on #20
@mvayngrib there's nothing to push, I had a clean install of react-native and tried to install https://github.com/codemanki/cloudscraper then use nodeify to install and hack but when I run I get unable to resolve module tls.

[2016-07-22 19:02] DVassilev commented on #20
@mvayngrib the package I linked above uses https://github.com/request/request - does rn-nodeify support this?

[2016-07-22 19:03] mvayngrib commented on #20
@DVassilev yes, i've used request. What's your rn-nodeify line?

[2016-07-22 19:04] mvayngrib commented on #20
also, what version of npm are you using? I haven't tested with npm@3

[2016-07-22 19:05] DVassilev commented on #20
npm v3.9.5 and rn-nodeify --install --hack

[2016-07-22 19:06] mvayngrib commented on #20
try npm@2 for now. When I have time, I'll dig into npm@3 compat

[2016-07-22 19:06] DVassilev commented on #20
OK, will report back.

[2016-07-22 19:07] DVassilev commented on #20
What are the downsides to using nodeify?

[2016-07-22 19:10] DVassilev commented on #20
@mvayngrib still didn't work.

[2016-07-22 19:10] DVassilev commented on #20
Got some warnings though such as this when trying to use --install --hack

[code]

[2016-07-22 19:12] DVassilev commented on #20
It says it can't find tls from node_moudles/cloudscraper/node_modules/request/node_modules/forever-agent/index.js

[2016-07-22 19:15] DVassilev commented on #20
@mvayngrib if I try do --install --hack tls I get this error ```if (allShims[name].indexOf('/') === -1) {
                        ^

TypeError: Cannot read property 'indexOf' of undefined```

[2016-07-22 19:16] mvayngrib commented on #20
should be: --install tls --hack
but that won't be enough. I'm sure request pulls in tons of core modules

[2016-07-22 19:17] DVassilev commented on #20
@mvayngrib that's the command I actually used.

[2016-07-22 19:17] DVassilev commented on #20
Any way to fix it?

[2016-07-22 19:26] mvayngrib commented on #20
my bad, seems tls isn't actually a module rn-nodeify shims, and I've been using `superagent` not `request`. This package is modeled after webpack and browserify's shimming, and neither of those has tls shimmed either. I'm not familiar enough with the tls package to say whether it's shimmable, but there's `react-native-tcp` probably takes you partially there. You'll probably get things working fast

[2016-07-22 19:28] DVassilev commented on #20
@mvayngrib I'm not sure it would work with superagent.

[2016-07-22 19:31] mvayngrib commented on #20
@DVassilev yea, idk, i've never used cloudscraper. The codebase is pretty small though, should be easy to try

[2016-07-22 19:32] DVassilev commented on #20
@mvayngrib any chance you'd be willing to try in return for payment?

[2016-07-22 19:43] mvayngrib commented on #20
@DVassilev sorry, completely booked with my startup. Good luck! You can also try asking the cloudscraper devs if there's any reason you can't refactor to use superagent

[2016-07-22 19:44] DVassilev commented on #20
Ok thank you:)

[2016-07-23 07:53] Timbo925 commented on #16
@nirzari18 @mvayngrib: Just wanting to confirm the problem here. Did the following things and go the same error.

- `react-native init`
- `npm install rn-nodeify -g`
- `rn-nodeify --install  --hack`
- `rnpm link react-native-randombytes`
- Install hack https://github.com/mvayngrib/rn-nodeify/commit/9917779ed9a461c6c43ba410b9f0bf6372c6f31a

Linking did solve the problem for creating the iPhone appl

[2016-07-23 08:08] Timbo925 commented on #16
Typing the previous I had an idea and found a fix for the people interested. Following instructions from https://github.com/rebeccahughes/react-native-device-info I found you need some extra stops after linking `react-native-randombytes`

**For Anroid (React Native: 0.29+)**

- `react-native link react-native-randombytes`
- Register Module in MainApplication.java

[code]

[2016-07-30 00:39] scalls commented on #20
+1

[2016-08-24 12:52] you-fail-me opened #21 "Streams not working"
I need to use this SDK: https://github.com/BitGo/BitGoJS with a react native app. My idea was to use your package to replace node core dependencies like streams and buffers with their client counterparts so the SDK could run on react native. I've cloned that repo,  ran `rn-nodeify --install --hack`, required `shim.js` at `index.js` and imported that index.js from a module in my app. But when I try

[2016-08-24 14:02] mvayngrib commented on #21
@you-fail-me check out https://github.com/mvayngrib/rn-nodeify/issues/18  there's an ugly workaround :)

[2016-09-09 06:15] waleedarshad-vf opened #22 "command not found: rn-nodeify react-native 0.27.2"

[2016-09-09 12:58] mvayngrib commented on #22
@waleedarshad-vf i'm not sure what you're running to get this error. Can you paste the contents of your shell?

[2016-09-09 12:59] mvayngrib commented on #22
if you're running `rn-nodeify` from the command line, be sure to `npm install -g rn-nodeify` first

[2016-09-15 05:57] waleedarshad-vf commented on #22
I did same but after running i got same result. rn-nodeify not found found

[2016-09-15 13:44] mvayngrib commented on #22
@waleedarshad-vf strange. Did you try installing it as a devDep?

[code]

[2016-09-16 05:56] waleedarshad-vf commented on #22
Yes Working. Thanks!. I don't know what i missed that time. btw thanks for your quick response.

[2016-09-16 13:39] mvayngrib commented on #22
@waleedarshad-vf great!

[2016-09-16 13:39] #22 closed

[2016-09-21 15:00] #21 closed

[2016-11-06 19:16] stovmascript opened #25 "rn-cli.config & getTransformModulePath"
Hey @mvayngrib, have you by any chance come across [this repo](https://github.com/philikon/ReactNativify)? It shows an interesting alternative method to rn-nodeify, namely in that it uses some built in RN functionality. There are tradeoffs, which I've highlighted here: https://github.com/akfish/node-vibrant/issues/29#issuecomment-258684020.

I was thinking that implementing the transform and babel

[2016-11-06 20:40] mvayngrib commented on #25
@stovmascript i hadn't seen ReactNativify, thanks for bringing it to my attention! On the one hand, it's a much less hacky approach than rn-nodeify. On the other hand, i'm not sure how ReactNativify gets around the various issues that come up in random modules here and there due to the differences between RN packager and webpack/browserify, specifically the cases solved by [pkg-hacks.js](https://g

[2016-11-10 04:33] bretth18 commented on #15
I'm having an issue with Buffer being used within a dependency, my shim.js file is imported correctly so I'm not sure why Buffer is not being defined. Got any ideas?

[2016-11-10 04:38] mvayngrib commented on #15
maybe your dep is getting loaded before buffer. Is the first line in your index.ios.js `import './shim.js'`  ?

[2016-11-10 04:53] bretth18 commented on #15
@mvayngrib Yup, I tried fiddling around with imports within the dependency but it was also a dead end.

[2016-11-10 14:24] mvayngrib commented on #15
@bretth18 if your code's open source, i can take a look

[2016-11-10 14:28] bretth18 commented on #15
@mvayngrib  I have a repo setup here: https://github.com/bretth18/PresidioWallet

[2016-11-10 14:44] mvayngrib commented on #15
@bretth18 so far what i see is that `rn-nodeify --install stream,buffer,events,assert --hack` won't be enough, as deep in your dep tree, you'll need all kinds of others (crypto, etc.). I changed it to `rn-nodeify --install --hack` for now. Then I ran into a circular dependency that react-native packager doesn't seem to resolve well: bitcore-lib/lib/util/buffer.js and bitcore-lib/lib/util/precondit

[2016-11-10 16:52] bretth18 commented on #15
@mvayngrib Ah ok, this helps. I was interpreting the dependency issue in ../buffer.js as an issue with
`require('buffer'). Thank for the note on buffer@>=4.5, I appreciate your response and help!

[2016-12-06 22:39] ldunphy1 commented on #16
I've tried everything above, but still getting the same error.
![image](https://cloud.githubusercontent.com/assets/22159844/20946967/f2fb91a6-bbda-11e6-8804-f8a0c01dce73.png)

[2016-12-07 15:36] mvayngrib commented on #16
@Timbo925 sorry, somehow missed your messages. You're, the addition of the line in MainApplication is necessary (though it should be performed by the linking comand).
@ldunphy1 if you give me a link to your project i can take a quick look

[2016-12-07 17:11] ldunphy1 commented on #16
https://github.com/ldunphy1/DirtyDrawz/tree/Lindsey

[2016-12-07 17:28] mvayngrib commented on #16
@ldunphy1 see: https://github.com/mvayngrib/DirtyDrawz/tree/Lindsey

i changed the postinstall script to `rn-nodeify --install --hack`. Until you're sure you've narrowed down the exact shims u need, it's easier to play around with the whole set. I also re-ran `react-native link`, as there were plenty of unlinked things that could cause these kinds of bugs later. Seems to work ok now (once i uncomm

[2016-12-07 17:50] ldunphy1 commented on #16
so i made those changes in my package.json, re-ran react-native link, and i'm still getting the same error

[2016-12-07 17:52] ldunphy1 commented on #16
I've pushed changes to github...

[2016-12-07 17:59] mvayngrib commented on #16
@ldunphy1 hm, does my branch work for you when you clone it, `npm install` and `react-native run-android`?

[2016-12-07 18:32] ldunphy1 commented on #16
![image](https://cloud.githubusercontent.com/assets/22159844/20981194/9b077364-bc81-11e6-8af5-36a833896231.png)

[2016-12-07 18:36] mvayngrib commented on #16
@ldunphy1 yea, that error typically signifies you need to run `npm run postinstall` (which you need to do after any time you `npm (un)install` anything)

[2016-12-07 23:41] ldunphy1 commented on #16
I ran npm run postinstall and i was still getting the same error....

[2016-12-07 23:45] ldunphy1 commented on #16
i even tried different combinations of npm install, react-native link, and npm run postinstall...

[2016-12-10 15:16] mvayngrib commented on #16
@ldunphy1 hm, if my fork https://github.com/mvayngrib/DirtyDrawz/tree/Lindsey doesn't work for you, my guess is it's an issue specific to windows. Unfortunately I won't be able to test on windows in the near future. If you figure out the issue, please submit a PR!

[2016-12-29 21:50] antoligy opened #27 "Breakage in resolving invariant and warning."
Running `rn-nodeify --install` replaces the module definitions used by Facebook's invariant and warning modules, which breaks their resolution.

e.g.
[code]

I've worked around this here https://github.com/antoligy/react-universal-native-starter/pull/3 by adding an alias to webpack.
Any ideas on any better ways of fixing this?  Happy to contrib.

[2017-01-01 02:18] mvayngrib commented on #27
interesting, good catch! Right now rn-nodeify edits all package.json files. Ideally, it should ignore at least all of react-native's own dependencies, and possibly have an additional configurable whitelist. You could probably go through react-native's package.json (and all its deps) first to build the default whitelist.

[2017-01-02 20:38] matt-gardner commented on #11
I think I'm seeing the same issue: I get the error `fs.readFileSync is not a function` when running the code `var fs = require('fs'); var buffer = fs.readFileSync(somePath)`.  I used the recommended `postinstall` method and imported `./shim` at the top of `index.ios.js`.

Looking at this issue, I get the impression that there's no hope of getting `fs.readFileSync` working in the near future.  Is t

[2017-01-03 07:23] mvayngrib commented on #11
@matt-gardner last i checked, synchronous calls were not possible over react-native's BatchedBridge, so fs.readFileSync would be impossible to implement. Things may have changed though, so please feel post links if u find evidence to the contrary.

[2017-01-05 08:57] vidyuthd commented on #16
Hi, I am also getting the same error in My Mac OS.

<img width="513" alt="screen shot 2017-01-05 at 2 23 20 pm" src="https://cloud.githubusercontent.com/assets/972067/21674211/b930d9b0-d352-11e6-99d0-e305ffc1da75.png">

Here is my package.json file
`
{
   "name":"Test",
   "version":"0.0.1",
   "private":true,
   "scripts":{
      "start":"node node_modules/react-native/local-cli/cli.js start",

[2017-01-11 11:02] antoligy commented on #27
Agreed, I was actually about to open another issue addressing this.  How would you suggest such a list be implemented (and/or should we be discussing this in a dedicated issue?) - There are some packages, like `jwt-simple` where I want to use react dependencies (i.e. crypto).

[2017-01-12 06:45] matt-gardner commented on #11
Thanks for that - knowing that made me try using a read method that was asynchronous, and it worked.

[2017-01-12 08:25] mvayngrib commented on #11
@matt-gardner glad to hear that!

[2017-01-18 19:06] athornz opened #28 "randombytes not supported"
I'm having trouble getting rn-nodeify to work with `randombytes`.

The read me says nodeify doesn't work with linked modules, so does that mean I can't use `react-native-randombytes`?

When I try to use a module that uses `randombytes` I get an error that secure number generation is not supported.

[2017-01-18 19:52] mvayngrib commented on #28
re: linked modules: it doesn't work with symlinked modules (local modules linked via npm link). randombytes should be fine, this module's purpose is to enable modules like randombytes to work

the most common source of this issue is forgetting to run the rn-nodeify script (e.g. `rn-nodeify --hack --install`) after an `npm install ...` or `npm uninstall ...` operation

[2017-01-18 19:54] athornz commented on #28
I've definitely run the script after install many times. What configuration should be in the browser and react-native sections of package.json for randombytes?

[2017-01-18 19:58] mvayngrib commented on #28
in your project's package.json, there should be nothing special for randombytes. In randombytes's package.json, if you're installing all the core shims, you should have something like this:
[code]

if you can't get it to work, push your project and i'll take a look

[2017-01-18 20:00] athornz commented on #28
Thanks I'll check my config and let you know :)

[2017-01-19 05:03] athornz commented on #28
It seems some extra hacks for randombytes may be required in the webtorrent and bittorrent-tracker modules.

I've pushed a test project here: https://github.com/athornz/webtorrent-rn-nodeify

[2017-01-19 06:11] mvayngrib commented on #28
@athornz looks like you forgot buffer in the list of `--install`. The easiest way to play around is to just let rn-nodeify install all available shims: `rn-nodeify --install --hack` . Seems to start ok after running that

[2017-01-19 09:33] athornz commented on #28
When I did include buffer it gave me errors. Seems like the buffer provided wasn't compatible with safe-buffer that some modules were using.

I'll try again adding it back

[2017-01-20 22:18] athornz commented on #28
Using all available shims I get the error: 'secure random number generation is not supported by this browser' (running on iOS).

Adding buffer to the list of shims gives the same error.

If I manually replace randombytes with react-native-randombytes in the package.json of webtorrent and bittorrent-tracker I start making progress (still have errors, but it's using the correct dependency), which is

[2017-01-20 22:59] mvayngrib commented on #28
@athornz ah, I actually use a separate crypto shim in my project. Pasted below (import alongside  './shim'):

[code]

[2017-01-20 23:03] mvayngrib commented on #28
@athornz oh, actually i see shim.js already has an earlier variant of the above crypto shim. If you update https://github.com/athornz/webtorrent-rn-nodeify i can have another look

[2017-01-20 23:23] athornz commented on #28
Ah ha! It seems I started the project with an old version of rn-nodeify, the shim.js was generated, and when I updated rn-nodeify, the shim was never updated.

I deleted the shim, re ran rn-nodeify and everything works!

Those sample projects probably need updating....

Thanks!

[2017-01-20 23:23] #28 closed

[2017-01-21 00:36] mvayngrib commented on #28
@athornz great! And yes, sample projects need updating. PRs welcome :)

[2017-02-06 22:50] philikon commented on #25
Hi, author of [ReactNativify](https://github.com/philikon/ReactNativify) here. We use this approach in production with a pretty sizable code base that's shared between node.js on embedded devices, the server, and React Native apps. We use crypto and streams heavily, and lots of third party packages that depend on those.

We haven't found the need for any major hacks at all. This is literally the e

[2017-02-06 23:01] mvayngrib commented on #25
@philikon Thanks for bringing ReactNativify to my attention! I think it's a healthier approach than this package. I would love to see a more serious proof of concept, e.g. if you could get [webtorrent](https://github.com/feross/webtorrent) running in react native. Honestly, I haven't done "the webtorrent test" with rn-nodeify in a while, but that was what I was testing it with in the early days, a

[2017-02-06 23:03] philikon commented on #25
Curious, are you using *webtorrent* as a litmus test, or do you actually have business needs to run it inside a React Native app?

[2017-02-06 23:05] mvayngrib commented on #25
@philikon exactly, litmus test. For my own project's needs i need bitcoinjs-lib, a bunch of other crypto stuff, levelup and related packages, and lots of stream stuff

[2017-02-06 23:08] philikon commented on #25
The node `crypto` and `stream` packages work without problems.

Is there a simple `bitcoinjs-lib` example that I could include in the ReactNativify demo? I think that'd be fun, and perhaps it'll get you closer to being able to use ReactNativify.

[2017-02-06 23:11] mvayngrib commented on #25
hm, not off the top of my head, but I'm sure there are. Btw, for your crypto example, u might want some more serious randomness: https://github.com/mvayngrib/react-native-randombytes

[2017-02-06 23:20] philikon commented on #25
Oh yeah, I explicitly wanted to keep it simple and not mess with linking in native code. Internally we obviously use the native RNG :)

But thanks for the tip, I've updated the comment to refer to your package.

[2017-02-06 23:24] mvayngrib commented on #25
ah yea, makes sense :) Please do keep me updated on how ReactNativity develops, and what kind of problems you run into (hopefully none of course). I see I've already upvoted https://productpains.com/post/react-native/packager-support-resolvealias-ala-webpack  It's definitely a pain point in RN that I think the core team is severely underestimating.

[2017-02-06 23:56] philikon commented on #25
Thanks for the upvote. FWIW, ReactNativify's approach of combining `rn-cli.config.js` with a custom transformer and a [Babel rewrite plugin](https://www.npmjs.com/package/babel-plugin-rewrite-require) is pretty much equivalent to webpack's resolve aliases. At least for us this approach has been totally sufficient, and we use it a lot to bridge differences between browser, RN, and node.js (lots of

[2017-02-07 00:11] mvayngrib commented on #25
@philikon awesome, I will definitely play around with ReactNativify, though probably not until March. There are some hard deadlines for a few projects and I don't want to experiment with the build system before the delivery (as much as I want to experiment with the build system).

[2017-02-17 22:24] parshap opened #30 "How does this work?"
Can you give a rundown of what happens when you run `rn-nodeify`? I understand it changes your top-level `package.json`, but what is actually using the `browser` and `react-native` keys? And it seems to make changes to files inside `node_modules/` as well?

[2017-02-17 23:36] mvayngrib commented on #30
@parshap you're right to ask, and it's long overdue. I just added some words to the readme, see if that clears things up.

[2017-02-18 00:23] parshap commented on #30
Excellent -- thanks!

Seems like even running without `--hack` changes the `package.json` files and `--hack` only controls the package-specific changes.

So what exactly is using the `browser` and `react-native` keys inside `package.json` files? Is this built into React Native Packager?

[2017-02-18 02:02] mvayngrib commented on #30
Yes, the browser and react-native fields are something the react native
packager respects. It didn't support it out of the box, I had to submit a
PR. It is a field respected by webpack and browserify too.

You're prob right about --install, I'll check and update the readme. Or
feel free to submit a PR!

On Fri, Feb 17, 2017 at 7:23 PM Parsha Pourkhomami <notifications@github.com>
wrote:

--
Mark V

[2017-02-24 02:28] yreenchan opened #32 "stream-browserify and readable-stream need updated to latest version"
I recently use react-native-tcp module in my project. It works fine in ios, but it caught errors in android.

![error](https://cloud.githubusercontent.com/assets/3251726/23287991/c48a57e6-fa7b-11e6-908c-eb0869d3da40.jpg)
![qq](https://cloud.githubusercontent.com/assets/3251726/23288002/cd5ccda4-fa7b-11e6-895b-7f52f089d29e.jpg)

After I update the modules "stream-browserify" and "readable-stream",

[2017-03-04 20:32] dpxcc opened #33 "please update npm"
The buffer package in npm is outdated. buffer@3.3.0 does not have Buffer.alloc function.

After using the latest version of buffer, I'm able to use webtorrent now.

[2017-03-30 20:56] briman0094 commented on #32
Can confirm, updating `stream-browserify` and `readable-stream` fixed this issue for me. For search indexing purposes, the issue is the error `Object prototype may only be an Object or null.` occurring whenever a module tries to load any dependency using streams, including (in my case) `zlib` (which is `browserify-zlib` in `react-native`).

**Something to note when performing this fix:**

If you u

[2017-04-04 08:25] jsdario commented on #32
I am experiencing this issue, but only in release builds, not development mode. Also did not seem to happen without `react-native-tcp`. Nevertheless I still use `react-native-udp`.

This is the error I am getting_
[code]

It happens even if I run `yarn upgrade` and then `rn-nodeify --hack`. After the hack, the packager complains about not finding `querystring` package.

Any valuable insights?

[2017-04-05 17:01] SeanAvery opened #38 "BufferUtil is undefined: bitcore lib"
@mvayngrib I am having trouble "nodeifying" the bitcore library.

You can check out the source code @ https://github.com/SeanAvery/react-native-eth-wallet

After running with --hack --install I am getting an error: `BufferUtil.isBuffer is not a function`

This makes sense, because the the object does not contain a isBuffer function
<img width="740" alt="screen shot 2017-04-05 at 11 56 48 am" src="

[2017-04-11 03:56] mvayngrib commented on #33
@dpxcc agreed, and in my project, i use buffer@4.x. However, I'm abit reluctant to update just one package, as it might not be compatible with the other shims. Are you up to adapting the combination from here https://github.com/webpack/node-libs-browser/blob/master/package.json and making a PR?

[2017-06-05 14:40] jayesbe opened #39 "Seems broken on Windows ..?"
C:\src\app>npm run build:crypto-shim

C:\src\app\node_modules\.bin\rn-nodeify:2
basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^
SyntaxError: missing ) after argument list
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:32)
    at tryModule

[2017-06-07 20:29] jajanut commented on #20
My project also has a dependency on `request` and it's a lot of work to get it hacked up and working.

I got over the missing `tls` module by dropping my own tls folder into node_modules post npm install, it just contains an index.js file and package.json file

node_modeuls\tls

- index.js
'use strict';

function tls() {
  // Not implemented
}

module.exports = tls;

- package.json
{
  "name": "tl

[2017-06-17 17:04] taipa-ibl opened #41 "Error on new RN 0.45.1"
After run `./node_modules/.bin/rn-nodeify --hack --install`

	.....
	......
	installing from npm readable-stream
	installing: npm install --save tradle/react-native-http#834492d readable-stream@1.0.33
	npm WARN gentlyRm not removing /Users/anhtai/Develop/RNApp01/node_modules/.bin/jest as it wasn't installed by /Users/anhtai/Develop/RNApp01/node_modules/jest-cli
	npm WARN react-native-level-fs@3.0.

[2017-06-17 18:37] mvayngrib commented on #41
@TaiPA I haven't tried rn-nodeify with RN > 0.42.3 yet. If I understood correctly, I'm sorry to hear it broke your project! Other than `package.json`, it should only touch files in node_modules, so you should always be able to `rm -rf node_modules` and `npm install` again.

Maybe you can try to figure out what goes wrong and submit a PR? :)

[2017-07-04 22:03] devmaster72 commented on #16
In case you are having this issue on ANDROID:

I'm using RN 041.2

rnpm link react-native-randombytes does not seem to do what it's supposed to do. You get the error because the module is not linked.

The part that is missing is what goes in MainApplication.java, specifically:
1) add this at the top of the file:    import com.bitgo.randombytes.RandomBytesPackage;
2) add this to the list of package

[2017-07-05 01:19] brentmitchell25 commented on #41
I ran into this same issue. It appeared to delete itself in the process. I re-ran the process after a simple `rm -rf node_modules/` and it worked. May also be worthing noting that I am using npm 3.

[2017-07-05 09:33] you-fail-me opened #42 "Running rn-nodeify breaks node_modules"
After running `./node_modules/.bin/rn-nodeify --install --hack` it does some weird thing to my react-native dep (turns the folder under `node_modules` into a bunch of empty folders):
<img width="372" alt="screen shot 2017-07-05 at 10 41 45 am" src="https://user-images.githubusercontent.com/12948897/27858487-181cd78a-617e-11e7-9820-b7eeb162961e.png">
I thought it was something with `yarn`, but no,

[2017-07-05 16:00] mvayngrib commented on #42
@you-fail-me pretty strange, haven't experienced this myself. Care to investigate and submit a PR?

[2017-07-06 09:43] you-fail-me commented on #42
@mvayngrib I'm trying to investigate that but some help, suggestions, advice etc would be very helpful.

[2017-07-06 13:53] mvayngrib commented on #42
@you-fail-me absolutely. The gist is:

the --install part
crawls the project using the `findit` module and potentially modifies all the package.json files in the node_modules tree (with fs.writeFile), as well as the project's own package.json. It then runs `npm install --save list,of,core,shims`, e.g. `npm install stream-browserify,react-native-crypto` to install missing shims for core modules.

t

[2017-07-11 11:07] you-fail-me commented on #42
For some reason it deletes stuff:
[code]

[2017-07-11 14:36] mvayngrib commented on #42
oh, interesting! Those last lines are output from `npm install`. I'm not sure why it's removing packages, maybe it's something particular to your setup? Can you go into node_modules/.bin/rn-nodeify, look for `proc.execSync(installLine,`, comment out that block, re-install and re-run rn-nodeify and then see if there are any clues in the package.json's in the tree that would make npm install remove

[2017-07-11 14:41] mvayngrib commented on #42
another thought: maybe it's hitting the maximum number of open files on your system and ends up corrupting the package.json files in the tree. If that's the case, we'll need to batchify some of the operations

[2017-07-11 14:55] mvayngrib commented on #42
@you-fail-me i also see a bunch of issues on npm, like this one: https://github.com/infinitered/ignite/issues/1101  Are you using npm version 5?

[2017-07-11 16:12] you-fail-me commented on #42
@mvayngrib thanks for pointing me to npm. I'm using yarn but have npm 5 installed, and turns out rn-nodeify was using it. downgrading to npm 4 seems to solve this, at least my packages no longer get removed. Thanks a lot and sorry for the issue, actually related to npm, but not to rn-nodeify

[2017-07-11 16:18] mvayngrib commented on #42
@you-fail-me no worries, it's good for me to be aware of the npm issue anyway :)

[2017-07-13 11:41] bintoll commented on #42
+1 have the same with npm 5

[2017-07-18 02:15] AdorkableDean opened #43 "Object prototype may only be an Object or null"
Hi,
I'm trying to use rn-nodeify &  webtorrent on react native, but webtorrent is still not working.
Do you have a working example of that?
Thanks!

[2017-07-18 11:46] purrado opened #44 "Unable to resolve module `crypto` from `../node_modules/sjcl/sjcl.js`"
I keep getting this error after trying to run the app:

[code]

Here's my `postinstall` script:
`rn-nodeify --install buffer,events,react-native-crypto,react-native-randombytes,stream,util,vm --hack`

And here are the `react-native` and `browser` fields:
[code]

Here's the `shim.js` generated:
[code]

It might also be worth noting that the `"crypto": "react-native-crypto"` entries on the `react-na

[2017-07-18 14:09] mvayngrib commented on #44
@purrado make sure to use the names of the node core modules, not the shims themselves, i.e.: `rn-nodeify --install ...,crypto,` and NOT `rn-nodeify --install ...,react-native-crypto,`

[2017-07-18 14:40] purrado commented on #44
@mvayngrib That did the trick! I remember trying it for `randombytes` but it threw an error so I just assumed it wouldn't work for `crypto`, hence I tried names in `./shims.js`. Anyway, thank you so much!

[2017-07-18 15:33] #44 closed

[2017-07-18 15:57] purrado commented on #43
I'm getting the same issue on Windows using an Android device emulator. Works for Android on Mac, though.

[2017-07-18 16:20] mvayngrib commented on #44
@purrado you're very welcome, glad you got it working :)

[2017-07-19 01:11] AdorkableDean commented on #43
@purrado when i used 'ReactNativify', webtorrent can built well on react-native. But, webtorrent cannot download torrent.

[2017-07-21 17:52] deblasis commented on #43
Same issue here:
https://github.com/StanScates/react-native-jwt/issues/6

It seems to be related to the circular references hacks being used in _browserify_ with _stream_

I tried to update **stream-browserify** and **readable-stream** as suggested by someone but it didn't work.

[2017-07-21 18:23] mvayngrib commented on #43
@AdorkableDean see #21 for a workaround. Try installing from rn-nodeify from github rather than npm.

[2017-07-24 12:57] AdorkableDean opened #45 "process.browsfy = true"
hi mvayngrib
in rn 0.46.4, shim.js didnot play its role. In node_module, process.browsfy print true.

[2017-07-25 14:08] AdorkableDean commented on #43
@mvayngrib build ok when use from github.

[2017-07-27 03:22] AdorkableDean opened #46 "dns.lookup is not a function. (In 'dns.lookup', 'dns.lookup' is undefined)"
use rn-nodeify in webtorrent & react-native, console print 'dns.lookup is not a function. (In 'dns.lookup', 'dns.lookup' is undefined)'.
cannot node dns module directly replace by dns.js?
thanks.

[2017-08-16 04:13] xwartz commented on #41
I have the same issue，but it worked when i use node 6.9.2 and npm 3.10.9.

[2017-08-19 17:40] JoeSchr opened #47 "Unable to resolve module `constants` from ..node_modules/touch/touch.js"
Hi,
great project! :)

I'm currently try to get it running with a new expo project. I already install several modules, but now there seems to be a hiccup with "constants".

`"<projectpath>\\node_modules\\touch\\touch.js","to":"constants","message":"Unable to resolve module "constants" from "<projectpath>\\node_modules\\touch\\touch.js": Module does not exist in the module map or in these directori

[2017-08-19 17:59] mvayngrib commented on #47
@JoeSchr `constants` is not a core node module, so I'm not sure why you have it in your postinstall script :)

[2017-08-19 18:05] JoeSchr commented on #47
because I saw it in [here](https://github.com/mvayngrib/rn-nodeify/blob/master/coreList.js) I figured constants would get handled by rn-nodeify. That's not the case?
sadly `npm install --save constants` is also not working :(

[2017-08-19 18:20] mvayngrib commented on #47
@JoeSchr indeed, my mistake! It's shimmed by `constants-browserify`. Does `constants-browserify` get installed when you run `npm run postinstall`?

[2017-08-19 18:23] JoeSchr commented on #47
yes, it got installed, but it seems it won't see it.

I just completely wiped my node_modules, removed constants from postinstall and installed it via simple npm install. now it doesn't find the "tls" module (another package needs it).

since rn-nodeify isn't supporting tls, I suppose this is the end of the road for me here anyway.

otherwise I could try wiping node_modules again with postinstall

[2017-08-19 21:25] JoeSchr commented on #47
After some testing it seems to me, that `rn-nodeify` is installing the wrong version of `constants-browserify@0.0.1`.

Sadly whenever I install the right version `constants-browserify@1.0.0` it always gets overwritten after running `postinstall`.

I can't find where `rn-nodeify` gets the version number from or where I could change it.
Can you point me in the right direction?

I already installed t

[2017-08-19 21:26] JoeSchr commented on #47
Sry to bother, 1 second after I read it, I found it in `shims-browserify.js`

[2017-08-19 21:28] mvayngrib commented on #47
@JoeSchr small correction: `shims.js` rather than `shims-browserify.js`

[2017-08-19 21:28] mvayngrib commented on #47
originally i was experimenting with both webpack and browserify

[2017-08-19 21:29] JoeSchr commented on #47
Thx! Now I'm glad I asked

[2017-08-22 13:28] Brucbbro commented on #47
Hello, any update on this? I'm on a _similar_ boat

    bundling: UnableToResolveError: Unable to resolve module `constants` from `/Users/username/WebstormProjects/appname/node_modules/anotherpackage/node_modules/touch/touch.js`

I manually edited constants version `shims.js` but i still get the same issue. Have u had any luck @JoeSchr ?

[2017-08-22 13:32] JoeSchr commented on #47
Hi,
I only have a weird workaround. After everything is run and done (also the `postinstall` script), I run `npm i constants-browserify` once more. That seems to be the only way to fix it.

I don't know why and I couldn't find anything in the source why `rn-nodeify` should touch that, but it works for me. But of course every build now takes for every.

To be honest, right now I'm kind of turned of

[2017-08-22 14:08] mvayngrib commented on #47
@JoeSchr rn-nodeify might be overwriting the version you install with the version specified in shims.js. I agree that it's undesired behavior, so if you want to submit a PR for that, I'd be happy to accept :)

Re: builds taking forever, I haven't experienced that, and I have a project with a ton of dependencies in addition to all the shims. The first build takes a minute or so, but subsequent incr

[2017-08-22 14:13] JoeSchr commented on #47
@mvayngrib No, I isn't overwriting it. I fixed the version number in the shims file like you told me.
If you want I can at least submit a PR where I updated the version numbers of constants-browserify?

@ your build time: good to know, that gives me hope once I got in all the dependencies and compatibility. Just now I have to stop the packager, because I have to npm i constants-browserify everytim

[2017-08-22 15:08] mvayngrib commented on #47
@JoeSchr sure, submit a PR :) I'll be pushing a few things in a bit too

[2017-08-23 09:17] Brucbbro commented on #47
Thanks! This issue doesn't appear to happen anymore. If it doesn't afflict you either maybe you could close the issue...

On a side note: a module originally written for node and requiring `request`module is breaking my code, because on RN i think it should use `fetch()` instead. Do you think a shim could be done to "fix" that? (and what would be a proper place to ask)

Thanks anyways for you effo

[2017-08-25 16:29] faxioman commented on #42
+1 npm 5.3.0

[2017-08-29 20:38] aaroncraig10e commented on #42
I see this behavior, as well, with npm 5.3.0

Specifically, after
"postinstall": "rn-nodeify --install crypto,fs,http --hack"

I get an empty node_modules/react-native folder.

"postinstall": "rn-nodeify --install crypto,fs --hack"
does not remove the contents of react-native.

[2017-08-30 07:48] scriptfans commented on #32
I have same problem, how to fix it? thanks.

[2017-09-05 15:20] mvayngrib commented on #27
@antoligy I haven't experienced any errors despite rn-nodeify's editing of the invariant and warning modules' package.json's. Do you have an example of a reproducible error? Thanks!

[2017-09-05 15:40] mvayngrib commented on #41
yea, tldr use npm@3, npm@5 has some issues. See
https://github.com/infinitered/ignite/issues/1101
https://github.com/npm/npm/issues/16839

[2017-09-05 15:40] #41 closed

[2017-09-05 15:41] mvayngrib opened #49 "tls shim"
moved over from #20

[2017-09-05 15:42] mvayngrib commented on #20
let's move any future discussion to #49 (tls shim)

[2017-09-05 15:42] #20 closed

[2017-09-05 15:42] mvayngrib commented on #45
sorry, i don't know what `process.browsfy` is!

[2017-09-05 15:45] mvayngrib commented on #18
closing, i don't think is an issue anymore

[2017-09-05 15:45] #18 closed

[2017-09-05 15:46] mvayngrib commented on #11
closing, as this requires digging into [level-filesystem](https://github.com/mafintosh/level-filesystem)

[2017-09-05 15:46] #11 closed

[2017-09-05 15:47] mvayngrib commented on #47
@JoeSchr rn-nodeify no longer overwrites installed dep versions without an explicit `--overwrite` flag

[2017-09-05 15:47] mvayngrib commented on #47
oops, closed by accident

[2017-09-05 15:53] mvayngrib commented on #46
`lookup` is not supported, use `resolve` instead if you can. See https://nodejs.org/api/dns.html#dns_implementation_considerations

if you really need `lookup`, you'll need to implement a native shim

[2017-09-05 15:53] #46 closed

[2017-09-05 16:08] mvayngrib commented on #38
@SeanAvery holy crap am i late to this. Looks like there's a circular dep between buffer.js and preconditions.js that the react-native packager doesn't like. This is probably an issue to submit to bitcore-lib or metro-bundler!

[2017-09-05 16:08] #38 closed

[2017-09-07 15:20] moar55 opened #50 "How can I undo --install"
I want to remove the modules I installed with nodeify and remove them from package.json, is there an easy way for that?

[2017-09-07 16:10] mvayngrib commented on #50
@moar55 no, but PRs are welcome :)

[2017-09-11 14:12] jd20 opened #52 "Require statements in shim.js are not being evaluated conditionally"
There are several require's in shim.js, that are supposed to only evaluate if react-native-crypto is in the package.json's dependencies. However, for me on RN 0.48.2, these require statements act like 'import', and are evaluated statically not dynamically, giving errors like "Unable to resolve module 'browserify-sign/algos' if react-native-crypto is not installed.

[2017-09-11 14:19] jd20 commented on #52
As a simple fix, based on some advice in an SO thread, I just placed the module names in variables, to force RN to evaluate the require's dynamically. I had some other unrelated changes on my fix branch, so having a hard time generating a clean PR, but the relevant commit is here: 8b8b71582d31a76fbb2a0c47aade76d79fc7d989

[2017-09-11 14:26] mvayngrib commented on #52
@jd20 interesting, does that trick work with earlier versions of RN? I remember having some issue with dynamic requires on some version around 0.40-0.42...but don't remember what it was :)

another option would be to move the part inside the `if` to the react-native-crypto library, and do one dynamic require here, a la:

[code]

maybe that would be cleaner?

[2017-09-13 17:45] jd20 commented on #52
I think the dynamic require behavior changed around 0.40, but this trick shouldn't affect the behavior on older versions of RN.

So you're saying it's safe to move everything crypto-related in shim.js directly to react-native-crypto? I can take a stab at that.

[2017-09-13 17:50] mvayngrib commented on #52
i think so, but let me know how it turns out :)

[2017-09-14 06:58] jd20 commented on #52
Do you know the background on why browserify-sign is required? I seem to be able to do basic crypto stuff OK without requiring it, so having a hard time coming up with sample code to check if it's integrated correctly. Also, I needed to disable the `crypto = window.crypto`, this seems to cause problems because it sets global crypto to an empty shim, instead of react-native-crypto. Likewise, defini

[2017-09-14 13:35] mvayngrib commented on #52
the browserify-sign bit was for one of my crypto projects. It doesn't actually require browserify-sign itself, it just adds an alias in the browserify-sign/algos section.

the rest of the crypto section is needed for modules that interpret their environment and decide that they're in the browser (take a look at [brorand/index.js](https://github.com/indutny/brorand/blob/master/index.js#L30), which

[2017-09-14 21:45] zocoi opened #53 "Support for `ws` WebSocket package"
The `ws` can be removed since browser has native `WebSocket` object. Any instruction to accomplish it?

[2017-09-20 03:18] jd20 commented on #52
I see, unfortunate that it's so messy :) I was confused at first why we'd want the node modules to think they were in the browser, but makes sense now. Will keep seeing what I can do with this.

[2017-09-20 06:37] jd20 commented on #52
Ok, submitted #54 for review. The react-native-crypto PR has to be merged first though, so please review that one first. I did some local testing (with both the updated react-native-crypto and rn-nodeify), using the sample randomBytes code in the README, and the getRandomValues() sample here: https://developer.mozilla.org/en-US/docs/Web/API/RandomSource/getRandomValues. If using window.crypto.getR

[2017-09-20 20:09] mvayngrib commented on #52
resolved with #54 and [react-native-crypto#19](https://github.com/mvayngrib/react-native-crypto/pull/19)

[2017-09-20 20:09] #52 closed

[2017-09-20 20:09] mvayngrib commented on #45
closing due to inactivity

[2017-09-20 20:09] #45 closed

[2017-09-20 20:10] mvayngrib commented on #30
closing due to inactivity. I think the README explains things decently well

[2017-09-20 20:10] #30 closed

[2017-09-25 12:18] nomoreboredom opened #55 "problem using crypto + randombytes"
Hi there,

Thanks for the great repos.
I am using your solution to run node core modules on a react native app, and this is my postinstall script
```./node_modules/.bin/rn-nodeify --install --hack "crypto,stream,process,vm,process,buffer,url,assert,events,querystring"```

and my shim looks like this:
[code]

And on my app, I have a call to eth-lib, which calls this func:
[code]
which returns to me

[2017-09-25 12:23] nomoreboredom commented on #55
Also as it seems monolithlabs/rn-nodeify fork has browserify-sign and such in cmd file, however this repo does not

[2017-09-25 14:23] mvayngrib commented on #55
@nomoreboredom good catch! I think we forgot to return the input array in getRandomValues. See this PR https://github.com/mvayngrib/react-native-crypto/pull/20/files

[2017-09-25 14:33] nomoreboredom commented on #55
Thanks a lot for quick fix!! It works for me now :)

[2017-09-25 14:33] #55 closed

[2017-09-25 14:33] mvayngrib commented on #55
@nomoreboredom great!

[2017-10-13 22:21] mvayngrib commented on #53
@zocoi not sure, but if you or someone wants to send a PR to support global resolve aliases, that sounds like something this library could benefit from

[2017-10-13 22:22] mvayngrib commented on #33
closing as the buffer dependency has been updated

[2017-10-30 00:47] mvayngrib commented on #47
closing, if someone still this issue (and ideally has a stable reproduction), I'd be happy to take a look

[2017-10-30 00:47] #47 closed

[2017-10-30 00:47] #33 closed

[2017-10-30 00:50] mvayngrib commented on #39
@jayesbe sorry i missed this, but I don't see that code anywhere in rn-nodeify!

[2017-10-30 00:52] mvayngrib commented on #32
yarn compat has been added recently by @jd20, and rn-nodeify will no longer overwrite dependencies unless the --overwrite flag is set. Is anyone still experiencing this issue?

[2017-12-02 01:03] Jusdev89 commented on #16
Thanks @ER1011 This saved me.

[2017-12-07 11:31] emilkarl commented on #16
Linking does not seem to work with iOS? :/

[2017-12-30 12:09] fangwa opened #58 "not supported by this browser"
hi,
   thanks for your repo.  I want to use bitcoinjs-lib in my reactnative project, so i use your repo, when i call ECPair.makeRandom method in android, a Warning massage display.
![screenshot_2017-12-30-19-59-39](https://user-images.githubusercontent.com/24937058/34454030-daebc762-ed9c-11e7-85eb-0e71c85f165f.png)

When I was Debug JS Remotely in chrome, there is no such problem.

[2017-12-30 14:27] mvayngrib commented on #58
@fangwa react-native uses your Chrome browser's JS engine when you Debug JS remotely, so some things will be different. Are you on an old version of android?

[2017-12-30 15:12] fangwa commented on #58
@mvayngrib Thank you for your reply so soon, my device's android version is 5.1.1. Have a requirement on the android version?
![qq 20171230231008](https://user-images.githubusercontent.com/24937058/34455298-de1c38bc-edb6-11e7-8058-1c11126f49d0.png)

[2017-12-30 16:05] mvayngrib commented on #58
@fangwa first see https://github.com/mvayngrib/rnctest1 for a working example that uses randomBytes. Maybe you can figure out what's different in your setup, e.g. you forgot to `import './shim.js` or forgot to re-run the rn-nodeify script after installing another dependency.

[2017-12-31 06:50] fangwa commented on #58
i find the error was thrown by module [https://github.com/crypto-browserify/randombytes](https://github.com/crypto-browserify/randombytes).
[code]

and my shim.js has less code than your file below,it works for me after i copy this code,thank you very much.
[code]

[2017-12-31 06:50] #58 closed

[2017-12-31 11:03] jd20 opened #59 "Error "require() must have a single string literal argument" when upgrading to RN 0.49 or later"
The dynamic require for 'crypto' that was recently added back to shim.js is now causing issues for newer versions of RN. Recent decision was made with metro-bundler to disallow dynamic requires, long discussion here: https://github.com/facebook/metro/issues/65. Doesn't look like support for dynamic requires will be coming back.

For now, I can work around by commenting out the require('crypto') se

[2018-01-04 14:50] mvayngrib commented on #59
@jd20 haha, the fun never ends! Let's scrap the pre-emptive require(), and just document it (in react-native-crypto and react-native-randombytes). Let people require('crypto') manually. Are you up for making the changes?

[2018-01-10 11:45] AnthonyLaw commented on #59
@jd20 thank for raise up this issue, i was panic about this issue.

when i implement [nem-sdk](https://github.com/QuantumMechanics/NEM-sdk) on my react native project.

where should I manually add require('crypto') ?

[2018-01-10 20:31] jd20 commented on #59
@AnthonyLaw In shim.js, you can replace the part which is giving you the error, with just a regular `require('crypto')`.

[2018-01-17 04:37] jd20 commented on #59
Submitted PR: #60

[2018-01-19 14:39] mvayngrib commented on #59
closing, resolved by #60

[2018-01-19 14:39] #59 closed

[2018-01-19 14:41] mvayngrib commented on #43
closing, as the workaround is now part of the published version

[2018-01-19 14:41] #43 closed

[2018-01-19 14:42] mvayngrib commented on #27
closing due to inactivity, please reopen if the issue persists

[2018-01-19 14:42] #27 closed

[2018-02-01 16:50] NaseebullahSafi opened #61 "Unable to resolve module asyncstorage-down"
Hi there,

I'm running React Native and one of the module `ws` is throwing this error:
<img width="1251" alt="capture" src="https://user-images.githubusercontent.com/16179773/35691274-ecbd3c72-076f-11e8-8637-96853f1c4618.PNG">

How can I resolve this?

Thanks

[2018-02-01 16:52] mvayngrib commented on #61
hey @NaseebullahSafi, can you check if you have `node_modules/asyncstorage-down`, and if not, install it?

[2018-02-01 16:53] NaseebullahSafi commented on #61
I don't have it. But I thought RN-noteify can do that automatically no? @mvayngrib

[2018-02-01 16:54] NaseebullahSafi commented on #61
DO I comment it form WS and install it in my node-modules?

[2018-02-01 17:00] mvayngrib commented on #61
looking at the code, i see that it's a peer dependency of `react-native-level-fs` so it needs to be installed manually in your project (if you need to use `fs`, which maybe `ws` does?)

that said, i'm still not sure `ws` will work in React Native, but you tell me :)

[2018-02-01 17:44] NaseebullahSafi commented on #61
Hmm, give me a sec, I'll get back to you.

[2018-02-01 18:18] NaseebullahSafi commented on #61
Ok it seems that I have to comment them out. Btw

Why do I get this even? The https-browserify exists in my node_module
<img width="1169" alt="capture" src="https://user-images.githubusercontent.com/16179773/35695407-4a4bd388-077c-11e8-8d69-30b9e9a99061.PNG">

[2018-02-01 18:23] mvayngrib commented on #61
does your package.json have a block that looks like this?

[code]

if not, you might need to run `rn-nodeify --install --hack` (or whatever rn-nodeify command you're running)

keep in mind that any time you install or uninstall a dependency, you need to re-run rn-nodeify

[2018-02-01 18:26] NaseebullahSafi commented on #61
Ah I see, ok will do that. Thanks, got few more errors, if I can fix them, I'll close the issue. Thanks

[2018-02-01 18:30] NaseebullahSafi commented on #61
Sorry to bother you.

I get this new error which I have no idea:
<img width="753" alt="capture" src="https://user-images.githubusercontent.com/16179773/35695948-deca619a-077d-11e8-885b-f84a7b02604e.PNG">

And I traced it, and this is the code
<img width="723" alt="capture" src="https://user-images.githubusercontent.com/16179773/35695973-eaf3b4da-077d-11e8-94fa-c31e6df0138b.PNG">

Any ideas?

[2018-02-01 18:52] mvayngrib commented on #61
can you paste the complete stack?

[2018-02-01 18:53] NaseebullahSafi commented on #61
I don't know why but the error is gone, and not showing up anymore. It's so weird.

[2018-02-01 18:58] mvayngrib commented on #61
probably you just needed to restart the packager

[2018-02-01 19:00] NaseebullahSafi commented on #61
Sorry for that, I got it again. Here's the full error: @mvayngrib
<img width="1063" alt="capture" src="https://user-images.githubusercontent.com/16179773/35697479-397df4f4-0782-11e8-825c-ea6c8d6921c2.PNG">

[2018-02-01 19:18] NaseebullahSafi commented on #61
Ok nevermind that is fixed :)

[2018-02-01 19:40] NaseebullahSafi commented on #61
@mvayngrib One of my module requires [`noble`](https://github.com/sandeepmistry/noble). How can I shim this or use rn-nodeify? It doesn't work. Can you please specify the correct order of installing noble. The readme is quite confusing to me. Sorry

[2018-02-01 19:46] mvayngrib commented on #61
@NaseebullahSafi sorry, no idea, this is out of scope of rn-nodeify. Also, idk what platform you're developing for, but I see they don't support Android and iOS.

[2018-02-01 19:48] NaseebullahSafi commented on #61
Yes I really needed noble for BLE for android. the library (https://github.com/jacobrosenthal/react-native-ble) directed me to here

[2018-02-01 19:48] NaseebullahSafi commented on #61
@mvayngrib Cant we use any node module in rn-nodeify?

[2018-02-01 19:52] mvayngrib commented on #61
@NaseebullahSafi no, you can use the built-in node modules ('fs', 'crypto', 'dgram' etc.), but any modules that have custom native code (non-Javascript), will not work. You'll need to create your own react-native shims for them, like others have for react-native-udp (dgram), react-native-tcp (net), react-native-crypto (crypto), react-native-ecc (elliptic curve crypto), etc.

[2018-02-01 19:53] NaseebullahSafi commented on #61
So cant we use rn-nodefiy on this (https://github.com/jacobrosenthal/react-native-ble)?
Since they've done it already

[2018-02-01 19:57] mvayngrib commented on #61
according to the author of `react-native-ble`, you can. I'm just saying `rn-nodeify` doesn't support arbitrary native modules out of the box. Each module with native components needs its own shim. In this case, `rn-nodeify` doesn't support `noble` out of the box, which is why `react-native-ble` was created. I have never played with `react-native-ble` myself, so I suggest you follow the instruction

[2018-02-01 19:59] NaseebullahSafi commented on #61
@mvayngrib Sorry for the trouble. It works, cant believe it!!!! :) Thank you so much.

[2018-02-01 20:01] mvayngrib commented on #61
@NaseebullahSafi haha, I'm glad to hear it, and you're welcome :) Good luck with your project!

[2018-02-01 20:01] #61 closed

[2018-02-15 21:38] edgebal opened #63 "rn-nodeify is breaking VSCode's debug feature"
Hello,

Apparently rn-nodeify is breaking the bridge between Visual Studio Code's React Native extension and the bundler.

The debugger worker tries to call process.send, but the following error is thrown:
[code]

More information and related issue on VSCode's repo: https://github.com/Microsoft/vscode-react-native/issues/606

[2018-02-15 21:43] mvayngrib commented on #63
@edgebal thanks for reporting this! Unfortunately, I don't have any experience with VSCode. I can tell that in [rn-nodeify/shim.js](https://github.com/tradle/rn-nodeify/blob/master/shim.js#L3), global.process is assigned (if it's not already defined). If you figure out what the issue is, PRs are very welcome :)

[2018-03-02 09:53] volodyad opened #64 "Do not work on windows"
node 8.5

[2018-03-11 15:08] perry-mitchell opened #65 "Add changelog / releases / tags"
Have you considered adding documentation for releases? Right now I can't seem to find any details regarding what has changed (I'm aware I could look at the commits, but that's a bit cumbersome). Would you be open to adding a `CHANGELOG.md` file or changing the publish process to describe updates on Github releases?

[2018-03-12 08:18] perry-mitchell commented on #65
Well since this is an npm package, you could use something like [`np`](https://github.com/sindresorhus/np) to do the releasing. I commonly attach it as an package.json script called `pub` which just executes `np`. This is nice because it:

 * Publishes the package to npm
 * Runs tests before publishing
 * Commits and tags the new version
 * Pushes the commit and tag automatically

For the changelo

[2018-03-12 13:26] mvayngrib commented on #65
@perry-mitchell sounds good to me. I would accept a PR for this :)

[2018-03-15 13:03] fatahn opened #66 "Thank You For this Library"
:)

[2018-03-15 14:34] mvayngrib commented on #66
@fatahn you're welcome!

[2018-03-15 14:34] #66 closed

[2018-03-29 11:52] wowzaaa opened #67 "process.version.slice - undefined is not an object"
i tried to installed stream:
rn-nodeify --install stream --hack

the bundle gets created but ... i get the error in the title from:
node_modules/readable-stream/lib/_stream_writable.js 57:80

any idea how to bypass this? :)

thanks

[2018-05-21 09:46] ezailWang opened #68 "Error: Secure random number generation is not supported by this browser. Use Chrome, Firefox or Internet Explorer 11"
When I use `bip39`,run ` var mnemonic =bip39.generateMnemonic();` Errors such as Title.

My package.json
[code]

postinstall.sh:
`./node_modules/.bin/rn-nodeify --hack --install "assert, crypto, stream, events, vm"`

and`import './shim';` also in the `index.js`

What configuration do I lack?

[2018-05-22 09:54] ezailWang commented on #68
Find the problem, the `"./shim "`file is executed in the wrong order and needs to be executed in the front of the `index.js` file.

[2018-05-22 09:55] #68 closed

[2018-06-28 07:00] uriva opened #69 "`inherits` package doesn't work, but it used to before"
When trying to run android, I'm getting `Object prototype may only be an Ojbect or null` on the inherits package (inherits_browser.js:5)

Note that this is the `inherits` package that is inside `util`. E.g. the complete path of the file throwing the exception is `.../my_app/node_modules/util/node_modules/inherits/inherits_browser.js`

I ran `rn-nodeify --install --hack` to no avail.

My rn-nodeify

[2018-07-09 11:57] Lukkub opened #70 "iOS, ANDROID - RELEASE - Error: Secure random number generation is not supported by this browser."
For iOS release scheme, problem with `bip39.generateMnemonic` from `bip39` package after nodeify:
[code]

Works fine for iOS debug.
Works fine for Android debug and release.

React-Native version: `"0.56.0-rc"`

I am up-to-date with all packages and installation flow:
[code]

My `shim.js`:
[code]

My `index.js` of the app start with `import './shim.js'`

I was also trying with below `shim.js` file

[2018-07-09 16:41] mvayngrib commented on #70
@Lukkub the first shim looks right. The error looks like a message from the `randombytes` package (randombytes/browser.js). `crypto.getRandomValues` isn't getting defined early enough. See if you can log the order the modules are getting required (and maybe also compare debug vs release). I get:

1. REACT-NATIVE-RANDOMBYTES (react-native-randombytes/index.js)
2. REACT-NATIVE-CRYPTO (react-native-c

[2018-07-10 15:18] Lukkub commented on #70
@mvayngrib
So I finally was able to get rid of the problem.

What I did.

1. Upgrade RN to version: `0.56.0`

2. Change `shim.js` to the default one generated by the package:
[code]

So I keep commented `require('crypto')` section.

And It finally works well for Android/ iOS debug/release.

[2018-07-10 16:10] mvayngrib commented on #70
@Lukkub interesting, you mean the `require('crypto')` line breaks things?

[2018-07-11 13:10] Lukkub commented on #70
@mvayngrib
Exactly - at least in my case.

[2018-07-17 10:19] giriallada commented on #22
It gets stuck whenever I run
./node_modules/.bin/rn-nodeify --install --hack

[2018-07-24 05:47] Bijiabo commented on #50
need a easy way

[2018-07-24 11:45] mvayngrib commented on #50
@Bijiabo for now, u can always do

[code]

[2018-07-24 11:47] mvayngrib commented on #50
@Bijiabo you can just delete all the modules you don't need from `dependencies` in package.json, `rm -rf node_modules` and re-run `npm install`

[2018-07-26 15:00] DaniGuardiola commented on #50
version control bruh

[2018-07-26 15:10] mvayngrib commented on #50
@DaniGuardiola yep! But I guess for the people asking this question, it's already too late

[2018-07-27 12:43] nomoreboredom opened #71 "http module breaks"
hi @mvayngrib

Currently i am experiencing a problem. Normally nodeifying was working pretty good, but however after the latest web3-core update, (web3.js 1.0.0-beta.35, see breaking change: [The HTTP provider now accepts an options object, instead of timeout and headers parameters](https://github.com/ethereum/web3.js/releases):) this line fails on xhr2-cookies:

[code]
and throws ```Cannot read p

[2018-07-27 13:00] mvayngrib commented on #71
@nomoreboredom thanks for reporting this! Could you poke around in https://github.com/tradle/react-native-http/blob/master/lib/response.js and see why `response.headers` isn't being defined in your case? (If that's where the `response` object is coming from. If not, where is it being created?)

[2018-07-27 14:11] nomoreboredom commented on #71
My app is throwing on this line actually, from xhr2-cookies, xml-http-request.js file line:
[code]
and if I add this check, it stops to throw but I can not build the connection I am supposed to build.
[code]
Hmm actually it may be a web3 bug, as I just noticed this issue: https://github.com/ethereum/web3.js/issues/1802.

Thanks anyway, will follow that issue and reopen this if it still persists :)

[2018-07-30 13:13] mvayngrib commented on #71
@nomoreboredom no idea yet :) Can you check why the response is being created without a `headers` field? That doesn't sound right. And is the `response` object being created from inside `react-native-http` or elsewhere?

[2018-08-17 00:42] Firescar96 opened #72 "Add support for typed arrays"
I didn't see a mention of typed arrays in the shims. For a react-native project I'm working on I added
support for the polyfills from [typedarray](https://www.npmjs.com/package/typedarray) to the shims.js file generated by rn-nodeify.

This fixed an error I got importing [blake2b](https://github.com/emilbayes/blake2b)

[2018-08-17 01:00] Firescar96 commented on #72
Scratch that, it didn't completely fix the error since `typedarray` doesn't completely support ArrayBuffer. Do you know of a polyfill that does?

[2018-08-17 14:04] mvayngrib commented on #72
@Firescar96 as far as i know, typed arrays are supported natively in most recent ios and android versions, and you shouldn't have to do anything special to add support for them. What error are you hitting?

[2018-08-17 19:36] Firescar96 commented on #72
I got an error on [this line](https://github.com/emilbayes/blake2b/blob/master/index.js#L183) that `parameter_block` is undefined. Above `parameter_block` is defined as `Uint8Array`

[2018-08-17 20:36] mvayngrib commented on #72
interesting, but it's unlikely `new Uint8Array` would return null if they were unsupported. More likely it would crash. Can you add some print statements and check that the line you linked definitely runs second?

[2018-08-18 09:02] 0es commented on #71
Same issue

[2018-08-19 04:28] fomenyesu commented on #71
web3 issue . downgrade to v1.0.0-beta.33 solved my problem.

[2018-09-04 10:16] viper4595 opened #73 "Library keep showing unable to resolve modules 'net' ?"
Hi,

I use this library for my project: https://github.com/nayrnet/node-hikvision-api.

After implement all steps, the library keep showing up error: unable to resolve modules 'net' from /node_modules/[lib_name].

My react native version is: 0.56.0

[2018-09-04 11:54] guiac commented on #63
@edgebal I had the same problem when I installed the react-native-tcp and rn-nodeify package. Do you solved this problem?

[2018-09-04 12:47] mvayngrib commented on #73
do you have [react-native-tcp](https://github.com/PeelTechnologies/react-native-tcp) installed and linked? It's the shim for the `net` module

[2018-09-04 13:08] viper4595 commented on #73
yes, i has already installed and linkd react-native-tcp. It also working when i import to a react native js file.

[2018-09-04 13:13] mvayngrib commented on #73
does your package.json have a mapping in the `browser` or `react-native` field from net to react-native-tcp? e.g.:

package.json:
[code]

[2018-09-04 14:06] viper4595 commented on #73
yes, i did it as well

[2018-09-04 14:28] mvayngrib commented on #73
if you installed anything after running `rn-nodeify`, you need to re-run it, as it fixes package.json browser+react-native mappings deep into the node_modules/ tree. Try re-running it and see if it helps

[2018-09-17 00:10] Bijiabo commented on #50
Have solved this problem, thanks.

[2018-09-17 01:34] #50 closed

[2018-09-24 20:28] hzburki commented on #61
I have the same error ... Can anyone explain how to fix this ?

[2018-09-24 20:41] mvayngrib commented on #61
@Philipwzj @hzburki do you have asyncstorage-down installed? If not, install it manually (`npm i -S asyncstorage-down`) and then re-run your rn-nodeify script.

[2018-09-25 05:30] hzburki commented on #61
@mvayngrib Thank you ... had to install **react-native-level-fs** as well, then install **rn-nodeify** on my machine **globally** and run both the **--hack** and **--install** commands. App runs okay now.

But I don't understand why this issue appeared? its a new project only one screen with text on it. I installed react-native-elements and vector-icons. Worked on the folder setup a bit and **boom

[2018-09-25 13:08] mvayngrib commented on #61
@hzburki it's partially the way dependencies work: asyncstorage-down isn't automatically installed because it's a peer dependency of react-native-level-fs, not a direct dependency. Peer dependencies need to be installed explicitly in the top level project, which can be annoying, but on the other hand, it prevents multiple versions of asyncstorage-down from appearing in the dep tree.

...and partia

[2018-11-10 08:39] anuragvijayvergia commented on #41
Hi @mvayngrib

Getting the same issue on running ./node_modules/.bin/rn-nodeify --hack --install.
[code]
I want to use the node js crypto module in my react native project.  I am on version 0.57.3.

Can you suggest what might be the issue here or if there are any workarounds?

[2018-12-17 13:54] badver opened #74 "TypeError: main.startsWith is not a function"
Got this error today:

[code]
Any suggestions?

[2018-12-17 14:47] mboguc commented on #74
I had the same issue since today. It was caused by package [browserify/resolve](https://github.com/browserify/resolve), which introduced invalid package.json in its tests:

[code]

This package.json is parsed by rn-nodeify and results in this error. As a workaround you may force version 1.8.1 of `resolve` in package.json of your project.

[2018-12-17 21:18] shardick commented on #74
same problem here. @mboguc how force resolve version?

[2018-12-18 03:15] Vanclief commented on #74
Having exactly the same problem

[2018-12-18 04:57] Vanclief commented on #74
@mboguc great find, could you please provide your solution?

I am not sure which is the dependency from `rn-nodeify` that is using the `resolve` browserify package.

[2018-12-18 13:18] badver commented on #74
I've added a check if main isn't a string for such cases.

[2018-12-18 14:06] #74 closed

[2018-12-18 15:54] nyl9488 commented on #74
same issue... after added "resolve" in the package

[2018-12-18 17:03] badver commented on #74
@nyl9488 maybe you put it in a wrong place.
It should be in the dependencies section and with "1.8.1" exactly.
And check what version in your package-lock.json. If you'll see 1.9.0 - that's bad.
Try reinstall with: npm install --save resolve@1.8.1

Also, there's already a fix for this issue, I hope @mvayngrib will publish this package soon so we can use it without forcing version.

[2018-12-27 14:53] nyl9488 commented on #74
resolved after remove node_modules

[2019-01-09 13:35] Overtorment commented on #74
Could not fix this issue until updated  dependency:

[code]

[2019-02-11 10:53] kparkov opened #77 "Not working with expo and stream"
My dependencies include `stream` and a handful of other core modules in an Expo project. I've tried a bunch of different strategies, and then someone recommended `rn-nodeify`.

I have installed the `postinstall` script:

[code]

Yet, after a clean and run `npm install` (I can confirm it installs the shims), I get this error when I run it with `npm start`:

[code]

Am I doing something wrong here?

[2019-02-11 13:30] mvayngrib commented on #77
@kparkov r u importing the shim first thing?

i'm not sure if `rn-nodeify` is compatible with `expo`, because as far as I know, expo doesn't let you use native modules other than the ones it bundles. Node.js core module shims like for `fs` (`react-native-level-fs`), `dgram` (`react-native-udp`), `net` (`react-native-tcp`), `crypto` (`react-native-crypto`) all have native components. You might have

[2019-02-13 15:48] HugoSanchez opened #78 "Terminal gets frozen during installation process"
Hi,

I'm going through the workflow example:

[code]

however, after running the last command "./node_modules/.bin/rn-nodeify --hack --install", the installation process gets frozen right after starting. It actually froze the terminal and had to close the tab altogether.

I've tried this several times always getting the same result. I've tried it in a Linux Ubuntu computer and on MacOS. I'm using

[2019-02-14 15:10] mvayngrib commented on #78
@HugoSanchez the README seems a bit outdated (i've just updated, can you try installing the latest rn-nodeify from npm? `npm i -D rn-nodeify@latest`

[2019-02-14 16:08] HugoSanchez commented on #78
It worked!! Thanks so much for getting back

[2019-02-14 16:20] mvayngrib commented on #78
@HugoSanchez glad to hear it :)

[2019-02-14 16:20] #78 closed

[2019-02-14 16:21] HugoSanchez commented on #78
Also, one more question. It is my understanding that, after going through this set up, for every new package that I add to my dependencies, I'll need to make sure to remove .babelrc using `rm node_modules/*/.babelrc`. So, as long as I do that, I should be able to use any other module right?

Thanks!

[2019-02-14 16:39] mvayngrib commented on #78
@HugoSanchez i haven't had problems recently with dependencies bringing in their own .babelrc, and I haven't been deleting `node_modules/*/.babelrc` in my own project. Unfortunately, I don't remember the particular case that @vespakoen ran into after which we added that instruction in

"any other module" is pretty broad. There are occasional problems with occasional modules, but for the most part

[2019-02-14 16:41] HugoSanchez commented on #78
Awesome, yes, I know it's too broad but that was the answer I was looking for. Thanks!

[2019-03-21 06:50] izakgl opened #79 "Update readme to reflect added yarn support"
Please update the readme to include the option for yarn package manager.
Using yarn before and then running rn-nodeify with npm broke my node_modules. Using npm for both did work, however i prefer yarn.
Thankfully i found the issue where yarn support was discussed and checked the pr to see the argument. This should be accessible from readme aswell.

[2019-03-21 13:08] mvayngrib commented on #79
thanks for the tip! I've updated the [options](https://github.com/tradle/rn-nodeify/#options) section

[2019-03-21 13:08] #79 closed

[2019-03-29 09:52] njacot commented on #74
Same error with version 10.0.1
`rn-nodeify --install stream,process,util --hack
not overwriting "stream-browserify"
not overwriting "process"
not overwriting "readable-stream"
not reinstalling util
not overwriting shim.js. For the latest version, see rn-nodeify/shim.js
failed to parse node_modules/resolve/test/resolver/baz/package.json
failed to parse node_modules/resolve/test/resolver/dot_main/pa

[2019-03-29 09:59] badver commented on #74
@njacot are you sure you use version 10.0.1 ? There is no way, if "main" isn't a string, to execute that line of code.

[2019-03-29 10:14] njacot commented on #74
yes, here is my package.json devDependencies section:
[code]

I am trying to install the https://github.com/PeelTechnologies/react-native-tcp that is why I need rn-nodeify. Any idea where else could be the issue?

[2019-03-29 12:29] mvayngrib commented on #74
@njacot just in case, can you check the "version" field in `node_modules/rn-nodeify/package.json` and confirm it's 10.0.1?

[2019-03-29 12:34] njacot commented on #74
Yes the version field is like so: ` "version": "10.0.1",`

[2019-03-29 15:25] mvayngrib commented on #74
@njacot maybe you have `rn-nodeify` installed globally? Try using `./node_modules/.bin/rn-nodeify` instead

[2019-04-01 06:26] njacot commented on #74
@mvayngrib  I had indeed a global version 10.0.0. I didn't think about a global installation. Everything works now. Thank you so much!

[2019-04-01 12:09] mvayngrib commented on #74
@njacot glad to hear it!

[2019-04-15 12:30] mvayngrib commented on #77
closing due to inactivity, will reopen if needed

[2019-04-15 12:30] #77 closed

[2019-04-15 12:32] mvayngrib commented on #73
@viper4595 sorry for the slow response. If you have a link to your project, i can take a quick look

[2019-04-15 12:32] #72 closed

[2019-04-15 12:37] #70 closed

[2019-05-16 02:20] mvayngrib commented on #42
closing as it seems to be an npm issue, will re-open if proved otherwise

[2019-05-16 02:20] #42 closed

[2019-05-16 02:20] mvayngrib commented on #53
closing due to lack of activity

[2019-05-16 02:20] #53 closed

[2019-05-30 13:38] curtismenmuir commented on #67
Seem similar issue, fixed with:
`rn-nodeify --install stream,process --hack`

[2019-06-05 00:09] SuryaChandrasekaran commented on #22
Hey,  does
npm i --save-dev rn-nodeify
./node_modules/.bin/rn-nodeify --install --hack

---
work with expo based react native projects too. I am not able to install them. Can you help me with this.

[2019-06-06 14:06] bobangajicsm opened #80 "null is not an object (evaluating '/[0-9]\.[0-9]+/.exec(process.versions.v8)[0]')"
I'm getting following error
<img width="458" alt="Screen Shot 2019-06-06 at 4 06 15 PM" src="https://user-images.githubusercontent.com/12565329/59039387-10727b00-8875-11e9-8e59-e17ebbc6973b.png">

[2019-06-06 19:29] mvayngrib commented on #80
which module has that line with process.versions.v8?

[2019-06-06 19:43] bobangajicsm commented on #80
Does error on simulator tells you anything? It throws from loadModuleImplementation

[2019-06-06 19:50] mvayngrib commented on #80
no, that's just the module loader code. Search your codebase for that regex

[2019-06-07 07:52] bobangajicsm commented on #80
Ok I have checked and node-capnp has that line https://github.com/capnproto/node-capnp

[2019-06-07 11:19] mvayngrib commented on #80
you can't use node-capnp in react native (without additional custom work), because it has a native C++ part to it

[2019-06-07 14:04] bobangajicsm commented on #80
Yeah makes sense. Thank you for fast response

[2019-06-07 14:04] #80 closed

[2019-06-11 15:03] curtismenmuir opened #81 "undefined is not a function (evaluating 'fs.existsSync(dirPath)')"
I am trying to get Winston (Version 3.X) logger to work on React-Native using RN-Nodeify (what a package, thank you! <3) and I am stuck at an issue with fs.existsSync() when trying to output the logs to a file.

![Screenshot_20190611-154341](https://user-images.githubusercontent.com/9335768/59282105-47270780-8c60-11e9-8abd-9fe0dbbbeafb.jpg)

Postinstall script used:
```"postinstall": "rn-nodeify -

[2019-06-11 22:06] mvayngrib commented on #81
unfortunately `fs.existsSync` (along with many other synchronous methods) is not supported at the moment. RN introduced the ability to make calls over the bridge synchronously only a few versions ago, so you can probably add support to `react-native-level-fs` if you want :)

[2019-06-12 07:50] curtismenmuir commented on #81
@mvayngrib Thanks for getting back to me! :)

Thanks for the heads up, I will have a look into react-native-level-fs. Closing this issue!

[2019-06-12 07:50] #81 closed

[2019-06-17 12:45] #73 closed

[2019-06-23 13:00] kimmimy commented on #70
https://stackoverflow.com/questions/56723706/error-null-is-not-an-object-evaluating-rnrandombyte-seed-ios .

can you can help?

[2019-06-23 15:42] mvayngrib commented on #70
@kimmimy see https://stackoverflow.com/a/56725441/1126660

[2019-07-24 17:30] dotpegaso commented on #16
Any solution for iOS?

[2019-08-13 07:20] qinghuan-chain opened #83 "TypeError: argv.install.split is not a function"
![image](https://user-images.githubusercontent.com/7252280/62922202-6d426280-bddd-11e9-871e-3fdbd4a92680.png)

[2019-08-13 13:19] mvayngrib commented on #83
what did you pass to the `rn-nodeify` command?

[2019-08-14 02:07] qinghuan-chain commented on #83
thx for your help.
i got it.
i pass the wrong param  to the command.

[2019-08-14 02:08] qinghuan-chain commented on #83
like this.
![image](https://user-images.githubusercontent.com/7252280/62989643-6bc77780-be7b-11e9-9377-ec13fe344bb4.png)

[2019-08-14 02:12] mvayngrib commented on #83
@qinghuan-chain glad you got it working!

[2019-08-14 02:12] #83 closed

[2019-08-25 18:36] Thomazella commented on #74
I'd recommend update to latest rn-nodeify as a fix :D

[2019-10-03 00:22] SpicyPete commented on #67
Also running into this issue recently, but haven't dug deep into it yet.

[2019-10-11 16:54] projetsdiy commented on #61
Same problem after install the [nodejs ftp package](https://www.npmjs.com/package/ftp)
I solved the problem as follow (all commands with sudo on macOS)
npm install asyncstorage-down
react-native link asyncstorage-down (important)
./node_modules/.bin/rn-nodeify --hack --install
cd ios/
pod install
react-native run-ios

[2019-10-11 17:05] mvayngrib commented on #61
asyncstorage-down is in peerDependencies, so needs to be installed manually

yes

absolutely not! asyncstorage-down is a pure JS module, only modules with ios/android native code need react-native link

[2019-10-22 09:33] DanielLaanpere commented on #16
For iOS running "pod install" from ios directory helped for me

[2019-11-08 07:15] hzz780 commented on #70
how to find the reason:
webstorm  -> nodemodules -> Find in path: 'xxxxxx'
why:
https://github.com/crypto-browserify/randombytes/blob/master/browser.js
how to solve:
https://www.npmjs.com/package/react-native-get-random-values
[code]

[2019-11-16 20:49] GeekRishabh opened #85 "can't find Buffer"
![Simulator Screen Shot - iPhone X - 2019-11-17 at 02 17 57](https://user-images.githubusercontent.com/23093075/68999044-9a247b00-08e0-11ea-94d6-e7910a27e48d.png)

[2019-12-18 22:07] pcowgill opened #86 "Consider linking to an additional alternative to ReactNativify and this, extraNodeModules"
As discussed over in [this issue in the `ReactNativify` repo](https://github.com/philikon/ReactNativify/issues/4), there's another alternative approach to consider, and since the `README` in this repo gets a lot of views, I think it would be worth calling out as another alternative approach where you mention `ReactNativify`.

The different approaches are also described in [this gist](
https://gist

[2019-12-18 22:23] pcowgill commented on #25
We should consider renaming this issue to say `metro.config` rather than `rn-cli.config` now that that's the new naming convention.

[2019-12-18 22:49] pcowgill opened #87 "Find a strategy for keeping in sync with node-libs-react-native"
The [`README` in `node-libs-react-native`](https://github.com/parshap/node-libs-react-native/issues/new) also contains useful info about implementations of node core modules in a React Native env, so it would be nice if there were a single source of truth for the best version of each dep to go with.

[2019-12-18 22:49] pcowgill commented on #87
Related issue in `node-libs-react-native` repo: https://github.com/parshap/node-libs-react-native/issues/21

[2019-12-18 23:29] mvayngrib commented on #86
@pcowgill is there something specific you want to add to the README here?

[2019-12-18 23:33] mvayngrib commented on #87
@pcowgill agree, but i won't have time to dig into this in the near future, especially since the versions here been working for me for a long time, and also originally sourced from either webpack or browserify's mappings (like node-libs-react-native

[2019-12-18 23:50] pcowgill commented on #86
@mvayngrib Maybe have it say, “Also consider using `extraNodeModules` in `metro.config.js` as described [here](https://gist.github.com/parshap/e3063d9bf6058041b34b26b7166fd6bd#metroconfigjs-and-extranodemodules)”?

Thanks!

[2019-12-24 05:47] leeeverest opened #88 "null is not an object(evaluating ''RNRandomBytes.seed)"
I have import shim.js and link react-native-randombytes,but it still error.

[2019-12-24 06:25] leeeverest commented on #85
are you import shim.js in index.js file?

[2019-12-31 17:36] pcowgill commented on #86
@mvayngrib It's the strategy described in this repo https://github.com/parshap/node-libs-react-native

[2019-12-31 23:55] pcowgill commented on #42
@mvayngrib Now that npm is at version 6.13, telling users to choose npm 3 or yarn in order to use `rn-nodeify` probably is out-of-date advice, right? Would it be worth removing that from the `README`?

[2020-01-26 19:42] pcowgill opened #89 "react-native-level-fs@3.0.1 requires a peer of asyncstorage-down@>=3.0.0 <5.0.0 but none is installed"

[2020-01-26 19:50] mvayngrib commented on #88
@leeeverest better open an issue on the randombytes repo. Maybe you forgot install from Xcode after linking?

[2020-01-26 19:51] mvayngrib commented on #85
@GeekRishabh closing due to inactivity, will reopen if you have some more info for us

[2020-01-26 19:51] #85 closed

[2020-01-26 19:52] mvayngrib commented on #71
closing as web3 issue. If anyone wants to poke around with improving compatibility, happy to reopen

[2020-01-26 19:52] #71 closed

[2020-01-26 19:53] mvayngrib commented on #69
sounds like a problem with what `inherits` is being called on, rather than inherits itself. Closing for now, but if you have more info, happy to reopen

[2020-01-26 19:53] #69 closed

[2020-03-30 19:51] oeudoyeh commented on #67
has anyone been able to fix this please

[2020-04-06 15:22] Saul-BT opened #90 "No native build was found, react native"
Hello, I want to use `hyperswarm` in android (I know, that is weird).
I have `rn-nodeify` to supply node modules, but when I run the app Expo says "`no native build was found for platform=android arch=javascript runtime=node abi=undefined uv= libc=glibc`".

[screenshot](https://imgur.com/cB4zIon)

More details:
Node version: v13.12.0
NPM version: 6.14.4
Expo version: 3.17.11
Hyperswarm version: 2.

[2020-04-07 00:22] mvayngrib commented on #90
rn-nodeify doesn't work with expo, u'll need to eject

[2020-04-07 00:22] #90 closed

[2020-04-07 00:23] #88 closed

[2020-04-07 00:23] mvayngrib commented on #65
closing due to inactivity

[2020-04-07 00:23] #65 closed

[2020-04-07 08:37] Saul-BT commented on #90
Thanks @mvayngrib, I'll try it.

[2020-04-28 09:59] Js-appdev opened #91 "RNRandomBytes.seed null is not an object"
Hi,
I'm having an issue with RNRandomBytes.seed null is not an object. I'm developing react native app on windows, I checked all the possible solutions but the error is not going

[2020-05-27 16:32] Overtorment opened #92 "Should this be in devDependencies ?"
I have a project that works fine, with rn-nodeify sitting in `devDependencies`.
I tried to do `npm install --production` and got:

[code]

(I have rn-nodeify in my `postinstall` script)

How is this supposed to work for production builds?

[2020-05-27 16:42] Overtorment commented on #92
oh and the real problem is that `./gradlew assembleRelease` fails with

[code]

[2020-05-27 16:57] mvayngrib commented on #92
`npm install --production` is a harder to get working in environments where building is a necessary step before running. If you really want to use `npm install --production`  , why not just move rn-nodeify to dependencies?

that's because rn-nodeify didn't get to run :)

[2020-05-27 17:01] Overtorment commented on #92
thanks! that's what I thought but decided to ask just for any case.

[2020-05-27 17:01] #92 closed

[2020-05-28 15:32] andrewsadowski opened #93 "Duplicate symbols for architecture arm64 error after adding library to project"
Hello!

While trying to upgrade a project to a newer version of ReactNative, on RN "0.62.2", I have been hitting `duplicate symbols for architecture arm64` error for the react-native-udp and tcpSockets when trying to run an iOS build.  Without this library added, everything works as expected.

Anyone hit this, or have any recommendations for workarounds?  I have tried the uninstalling and reinstal

[2020-05-28 17:17] johanschram commented on #93
Same problem here...
@andrewsadowski, if you manage to find a way, let me know. I'll do the same.

[2020-05-28 17:23] andrewsadowski commented on #93
I was able to solve this by removing Flipper from my project.  It looks like it was conflicting with a bunch of the rn-nodeify packages.  Then removing Pods and re-building.  I found this solution here: https://github.com/tradle/react-native-udp/issues/113

[2020-05-28 17:45] johanschram commented on #93
Well, the last version of tradle/react-native-udp is supposed to fix this...
[react-native-udp/commit](https://github.com/tradle/react-native-udp/commit/7d202de89e817da61f3efb11d9e935c9400ec891)

[2020-06-30 01:00] vergilchoi opened #94 "RN 0.62.0 Compatibility (cause duplicate symbols about multiple copy of CocoaAsyncSocket)"
Hi,

The version of `tradle/react-native-udp` has been updated to 3.0.0 but it's still using ^2.1.0 after run `./node_modules/.bin/rn-nodeify --hack --install --yarn`.

The same problem is also with `react-native-tcp`. Since it has been deprecated, it will cause the duplicate symbol issue as well (like #93). I guess it should be replaced by any active module like `react-native-tcp-socket` (by @Rap

[2020-07-07 14:26] ahmadaafaq commented on #93
Getting same error after upgrading RN 0.61.5 to RN 0.62.2, without flipper everything works fine but with flipper started getting build error: 144 duplicate symbols for architecture *86_64.

Has anyone found any solution as I want to use Flipper.

[2020-08-18 16:27] annie-elequin opened #95 "How to use with Yarn Workspaces"
Seems that my project can't find "process" when attempting to run the postinstall script.

Do I need to [nohoist](https://classic.yarnpkg.com/blog/2018/02/15/nohoist/) the url, process, stream, events, etc things that I choose to install with rn-nodeify?

If so, do I use those names, or do I need to use the names of the packages that are actually installed (because aren't they named something diff

[2020-08-25 15:06] roaringUnicorn commented on #89
Same here. I add asyncstorage-down directly in my project deps as a workaround.

[2020-09-29 08:27] emclab opened #98 "rn-nodeify vs node-libs-browser"
I just came across module node-libs-browser (deprecated though because webpack5 did not include it) and it seems has very similar idea by provide wrapper of nodejs core to application. Can someone shed light on what is the difference between those 2 modules? Are they exchangeable in react native app?

[2020-09-29 13:46] mvayngrib commented on #98
similar purpose, but the browser and react-native environments are pretty different and require a different set of shims

[2020-09-29 18:59] emclab commented on #98
I need integrate `web3.js` into a react native app. I have tried to install ipfs modules in react native app with the help of rn-nodeify and there were a few bundle issues which I could not solve. I am wondering if web3 has better chance with rn-nodeify. Any insight/experience is appreciated.

[2021-02-07 21:36] ollolollollooloo commented on #67
this did not work on me
`rn-nodeify --install stream,process --hack`

[2021-03-23 05:34] gronnyn-dc commented on #22
![Uploading a.png…]()

Hi, why do i cant use ./node_modules/.bin/rn-nodeify --install --hack in windows 10?

look at the pic please, me very need the solution. thanks!

[2021-04-02 11:11] MohamedAhmed122 opened #100 "Issue using rn-nodeify in React-native project"
I am developing a mobile app using React native, which involves an interaction with Meta1.js and web3.js

RN does not support core Node.js modules, so I had to `install react-native-crypto, react-native-randombytes, rn-nodeify` and run ` ./node_modules/.bin/rn-nodeify --hack --install` I actually followed the [docs](https://github.com/tradle/rn-nodeify)

and now I am facing this error
<img width="

[2021-04-06 07:35] #100 closed

[2021-04-06 07:44] MohamedAhmed122 commented on #16
@mvayngrib  I am facing the same issue when I uncomment` require('crypto');` in the `shim.js`, I followed  all the steps [here](https://github.com/tradle/rn-nodeify) and I tried to use `rnpm link react-native-randombytes ` but it didn't work as it supposed to be
<img width="972" alt="Screenshot 2021-04-06 at 14 42 10" src="https://user-images.githubusercontent.com/58720977/113676122-46d5e700-96e6-

[2021-04-07 09:42] MohamedAhmed122 opened #101 "Your Browser doesn't support window.crypto on RN"
I am trying to use web3.js in RN I followed the [docs](https://github.com/tradle/rn-nodeify) , but I am facing this error
<img width="414" alt="Screenshot 2021-04-07 at 16 36 42" src="https://user-images.githubusercontent.com/58720977/113845188-7147a300-97bf-11eb-83eb-5ea02dbf4a4b.png">

so I tried to uncomment `require('crypto');` in the `shim` but I am facing different error
<img width="949" alt

[2021-04-08 09:51] dekameron22 commented on #67
+1

[2021-04-09 23:58] adeyahya opened #102 "bug: pbkdf2 Unexpected token"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `rn-nodeify@10.2.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-04-10 00:03] mvayngrib commented on #102
@adeyahya what version of pbkdf2 are you using?

[2021-04-11 10:31] vuongpsht commented on #102
at this one to your `package.json`

`  "resolutions": {
    "**/pbkdf2": "3.1.1",
    "**/**/pbkdf2": "3.1.1",
    "**/**/**/pbkdf2": "3.1.1"
  },
`

[2021-04-11 20:27] vuongpsht commented on #101
use `require('crypto-browserify')` instead

[2021-04-13 21:30] adeyahya commented on #95
@annie-elequin have you solve this?

[2021-04-13 21:42] adeyahya commented on #95
@annie-elequin my case solved by duplicating keys `react-native` and `browser` into root package.json and doing postinstall in root of the monorepo instead.

[2021-04-13 21:43] #102 closed

[2021-04-14 15:46] annie-elequin commented on #95
ooo I think I switched to using a different library (node-libs-react-native I think) but thank you!! I have been thinking of switching back to rn-nodeify so I will be sure to reference this if I have problems

[2021-04-18 17:55] Fubinator opened #104 "pbkdf2 hack breaks the lib"
The hack replaces `process.version` with the actual version of the process, however there is a `global.process.version` which is replaced to `global."ACTUAL VERSION"`, which breaks.

The `default-encoding.js` gets hacked to:
[code]

Reproduction (just clone, install deps, and run):
https://github.com/Fubinator/react-native-userbase-poc

[2021-04-18 19:13] mvayngrib commented on #104
@Fubinator can u check if this solves your issue? https://github.com/tradle/rn-nodeify/pull/103#discussion_r610956927

[2021-04-18 20:53] Fubinator commented on #104
Yep, that works, thank you! Sorry that I didn't check the repo for that issue properly. Are you planning to merge that? Feel free to close this issue.

[2021-04-18 21:00] mvayngrib commented on #104
@Fubinator i've yet to test it myself, want to make a PR?

[2021-04-18 21:00] #104 closed

[2021-04-18 21:19] Fubinator commented on #104
Sure, I'm gonna try making the PR tomorrow!

[2021-04-20 10:43] nouman91 commented on #39
Same issue happening with me as well. Following are my setup details:

react-native: 0.63.2
node: 11.15.0
rn-nodify 10.3.0

[2021-06-18 19:03] lassmann commented on #91
having the same issue here....

[2021-06-27 07:34] hasanghanavi opened #106 "Unable to resolve module stream"
I am trying to use @walletconnect/client in RN 0.64.2. I followed the [docs ](https://github.com/tradle/rn-nodeify), but I am facing this error

![Screenshot 2021-06-27 115740](https://user-images.githubusercontent.com/49065856/123536445-98b76780-d73f-11eb-9b13-ad0e01eaddbb.png)

[2021-08-18 04:19] kyawthura2018 commented on #70
This work for me. Thanks a lot.

[2021-08-25 10:17] afaqRns opened #108 "Incompatibility with React Native v0.65.1"
Please update review dependencies for this package. react-native-tcp is not up to date and it is causing problem while running project with react native version 0.65.1

[2021-08-25 15:38] JonasHiltl commented on #106
Do you have `stream` added to your postinstall script? Like below:
[code]
You could also manually run `rn-nodeify --install "stream" --hack`

[2021-08-25 16:26] JonasHiltl opened #110 "Error: readFileSync function from `fs` is undefined"
A package that I use uses the `fs` module to read another file with the `readFileSync` function. But my app throws an error when calling the `readFileSync ` function, because the function is udefined.
This is the error:
[code]
Below is the conflicting line that uses `readFileSync`
[code]
These are my node modules I shim:
[code]
I also import the `shim.js` file.

[2021-10-05 23:46] akinncar commented on #108
what's your problem? maybe this can help: https://github.com/tradle/rn-nodeify/issues/94

[2021-10-29 20:04] LeHoang88 opened #112 "moralis"
https://github.com/mobilekosmos/demo-apps/blob/main/moralis-sign-in-boilerplate/index.html

[2021-10-29 20:04] LeHoang88 opened #113 "main.js"
https://github.com/mobilekosmos/demo-apps/blob/main/moralis-sign-in-boilerplate/main.js

[2021-10-29 20:12] mvayngrib commented on #110
yes, readFileSync is not yet supported. PRs welcome here: https://github.com/tradle/react-native-level-fs

[2021-10-29 20:12] #110 closed

[2021-11-01 20:41] mvayngrib commented on #113
unclear, closing

[2021-11-01 20:41] #113 closed

[2021-11-01 20:41] mvayngrib commented on #112
unclear, closing

[2021-11-01 20:41] #112 closed

[2021-12-06 12:13] lirimkrosa commented on #108
I patched the module  and published on npmjs

`npm install npm i @lirimkrosa/rn-nodeify`
or
`yarn add  @lirimkrosa/rn-nodeify`

[2021-12-11 11:46] parthindia47 commented on #22
try .\node_modules\.bin\rn-nodeify --install --hack

[2022-02-04 13:39] jonathanschad opened #114 "iOS Build is failing (duplicate symbols for architecture x86_64)"
This issue should serve as a starting point for others who have the same problem. I hope I can save you from a lot of headache. Original Issue: https://github.com/Rapsssito/react-native-tcp-socket/issues/61#issuecomment-653881488

## Steps to repuduce
The issue appears if you try to compile a react native project for iOS, which uses **rn-nodefiy**. To be more specific the cause of the problem seem

[2022-03-07 10:56] Florent75 commented on #114
Hi there,

I just tried to install this package and I do have the same issue.

Here is part of the error logs :
duplicate symbol '_OBJC_IVAR_$_GCDAsyncUdpSocket.cachedLocalPort4' in:
    /Users/florent/Library/Developer/Xcode/DerivedData/Hermes-dxhzvnkbnyrabocodwsqwfpatpub/Build/Products/Debug-iphonesimulator/CocoaAsyncSocket/libCocoaAsyncSocket.a(GCDAsyncUdpSocket.o)
    /Users/florent/Desktop/Bo

[2022-03-10 09:55] tokenswaporg opened #115 "very awesome and useful project"
thanks very much

[2022-03-16 12:25] TSB1999 commented on #41
worked for me after rm -rf node_modules, then yarn install

[2022-03-30 13:21] LuisNeves05 commented on #77
Is it compatible yet?
I've had problems with Node modules not being compatible with React Native for a week now, but ejecting Expo in order to use rn nodiefy is not an option. Is there any other work around?

[2022-04-20 04:07] alexreyes commented on #70
Just installing react-native-get-random-values and importing it in my index.js fixed it for me as well! Thank you

[2022-04-23 18:22] rares-lupascu opened #116 "shim.js issue on IOS"
i do not know if i am the only one having this issue but ...
this line in shim.js
[code]
has to changed into this
[code]
to fix this error on iOS
[code]

if anyone has another fix for this i would love to hear about it :)

thanks

[2022-05-04 17:20] vietnamese-chowder commented on #106
I have the exact same issue. My postinstall script calls

```yarn rn-nodeify --install 'crypto,os,buffer,react-native-randombytes,vm,stream,http,https,url,net,fs,zlib' --hack --yarn```

And it affects not only stream in cipher-base but also http in https-browserify. I have to manually edit their respective package.json's to make it work. What's also weird is that these don't always occur, but most

[2022-05-13 08:03] csaicharan commented on #16
Did you resolved the issue? or any suggestions to resolve? I have followed all the steps needed but not worked.

[2022-05-13 20:24] successor1 commented on #16
I also have the same issue, help would be great.

[2022-05-18 06:09] hinciler commented on #67
Is there anyone else other solution? I couldn't fix this issue.

[2022-07-08 01:41] ansh commented on #115
@tokenswaporg can you share an example repo that you got working with this package?

[2022-07-08 03:32] tokenswaporg commented on #115
not only import 'crypto'; in root directory(index.js),i import crypto in every .js file in react native

like this:

in CreateIdenity.js

import 'crypto'; //
import DateUtil from '../utils/DateUtil';

const CreateIdentity = ({route, navigation}) => {}

[2022-07-30 19:45] thowitz commented on #77
I'm having the same issue, did you ever get it working?

[2022-07-30 19:50] LuisNeves05 commented on #77
Yeah, I did!
You can check out my startup’s repo to see our package json. Check NEFTME’s
profile to see :)

thowitz ***@***.***> escreveu em sáb., 30/07/2022 às 20:45 :

[2022-07-31 17:06] thowitz commented on #77
@LuisNeves05 Thanks for the reply! I managed to fix my current error message (No identifiers allowed directly after numeric literal)

[2022-08-13 15:33] dlrandy commented on #77
@thowitz Hello, same issue here, could you please share the way  you fix it ?

[2022-08-13 19:28] thowitz commented on #77
@dlrandy If you comment out all your imports, does the error go away?

[2022-08-14 05:14] altaga opened #118 "Security issues"
Do we have to consider a problem or something if we want to make applications for production or to put them in the Playstore using this package?

[2022-08-17 08:31] Darjusch opened #119 "Request: Add ffjavascript to packaged"

[2022-08-23 04:23] Jeevasimba opened #120 "what is shim ?"
I am new to reat-native.

I want to use http module in my project.

But , How can I use `rn-nodeify` ?.

What is `shim` ?

[This is my project.][1]

I add [npm install @tradle/react-native-http][2] in my project.

But , I have this error.

[![enter image description here][3]][3]

     [Error: undefined Unable to resolve module url from C:\Users\mahima\Desktop\react-
    native\httpmob\node_modules

[2022-08-24 11:58] StuartFlutter commented on #16
Over a year later and i am too having this same issue. Is there a correct way of solving this and getting crypto working inside react native apps? Or is it impossible at this time? it seems many people have built crypto based apps (in treact native?) and so there *must* be a way.

Everything i have tried i end up in one of two situations:

Either:
1) process.version.split is undefined OR
2) RNRand

[2022-08-29 04:55] Jeevasimba opened #121 "error Couldn't find the binary git."
After adding  `"rn-nodeify": "github:tradle/rn-nodeify"`  to  `package.json` under `devDependencies` and run `npm install`

If I run this command `npm install` the below error occured.

    C:\Users\mahima\Desktop\react-native\newsim>npm install
    npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
    npm ERR! code ENOENT
    npm ERR! syscall spawn git

[2022-09-07 12:32] Rc85 commented on #114
@Florent75 There is a troubleshoot section in the docs about removing Flipper. If you are still having that issue after commenting out all the flipper reference in your Podfile and AppDelegate.m, then you mostly likely still have Flipper in your Pods folder. Run pod deintegrate and pod install.

[2022-09-24 16:37] Pckool commented on #16
Have you found a solution yet? I'm currently running into this issue

[2022-09-29 11:02] ChachaZhou commented on #114
It works for me, 🤩

[2022-09-29 11:05] chachaxw commented on #114
It works for me, amazing🤩

[2022-10-12 14:16] sameer-primelab opened #122 "failed to parse package.json on windows"
hi,
I am trying to run this hack command on windows 10 but it throws errors. anyone stumbled upon this?

`PS E:\WindowsApp> npm run setup-windows --logging

failed to parse node_modules\resolve\test\resolver\malformed_package_json\package.json
failed to parse node_modules\eslint-plugin-react\node_modules\resolve\test\resolver\malformed_package_json\package.json
failed to parse: E:\WindowsApp\node_

[2022-10-26 00:41] LamarisSmiley opened #124 "Meta"

[2022-11-07 00:03] Frostswing commented on #122
I am having the same issue

anyone found a solution?

`./node_modules/.bin/rn-nodeify  --install  --hack  --force
not overwriting "assert"
not overwriting "browserify-zlib"
not overwriting "buffer"
not overwriting "console-browserify"
not overwriting "constants-browserify"
not overwriting "react-native-crypto"
not overwriting "dns.js"
not overwriting "domain-browser"
not overwriting "events"
not o

[2022-11-07 18:25] #124 closed

[2022-11-10 15:14] Frostswing commented on #67
+1

[2022-11-10 15:20] Frostswing commented on #77
Hey, What project is it than? can you send a link?
I'm having the same issue, and no solution yet...

Thanks!

[2022-11-10 15:22] LuisNeves05 commented on #77
https://github.com/NEFTME/neftme-poc-dapp

Check it out @Frostswing

[2022-11-10 18:36] Frostswing commented on #77
@LuisNeves05
Thanks!

was your trick using "stream-http" instead the rn-nodify npm?
Or was is another thing?
Since stream-http didn't do the trick for me :/

[2022-11-11 08:48] thowitz commented on #77
@Frostswing Have you tried the readable-stream package?

[2022-11-11 10:24] Frostswing commented on #77
@thowitz
Do you mean linking the stream to the readable-stream package?
if so, it doesnt help...

This is my package.json

[code]

[2022-11-11 12:24] thowitz commented on #77
@Frostswing Can you try replacing    `"stream": "stream-readable",` with `   "stream": "stream-browserify",` in your package.json?

[2022-11-11 16:37] Frostswing commented on #77
Same result :(

[code]

[2022-11-12 22:27] Frostswing commented on #67
I think i have found a solution for this error here: [https://github.com/nodejs/readable-stream/issues/313](url)

[2022-11-12 22:31] Frostswing commented on #77
For the stream part i have found a solution to my exact issue here:
[https://github.com/nodejs/readable-stream/issues/313](url)

Solves specifically the "evaluating 'process.version.slice'" error

But i'm still having issues using Expo and rn-nodify...
But its for a different discussion

[2022-11-12 22:59] thowitz commented on #77
@Frostswing Nice one, glad to hear you fixed at least this problem👍Now onto the next one haha